<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Grouping with a CASE statement
© ExploreAI Academy

In this notebook, we learn how to use the `CASE` statement to categorise and group data.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

By the end of this train, you should:
- Know how to categorise data using `CASE` statements.
- Know how to combine `CASE` statements with aggregate functions for enhanced data summarisation.
- Understand how to use the `GROUP BY` clause with the `CASE` statement.

## Connecting to our MySQL database

Using our `Access_to_Basic_Services` table created in MySQL Workbench, we want to answer some questions on the range of our dataset. We can apply the same queries in MySQL Workbench and in this notebook if we connect to our MySQL server. Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [4]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [2]:
import mysql.connector

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
# If you get an error here, make sure that mysql and pymysql are installed correctly.

%load_ext sql

In [3]:
%sql sqlite:///Northwind.db

Connecting to 'sqlite:///Northwind.db'

In [4]:
%%sql

SELECT * 
FROM Products
WHERE UnitPrice >= 100;

Running query in 'sqlite:///Northwind.db'

+-----------+------------------------+------------+------------+----------------------+-----------+--------------+--------------+--------------+--------------+
| ProductID |      ProductName       | SupplierID | CategoryID |   QuantityPerUnit    | UnitPrice | UnitsInStock | UnitsOnOrder | ReorderLevel | Discontinued |
+-----------+------------------------+------------+------------+----------------------+-----------+--------------+--------------+--------------+--------------+
|     29    | Thringer Rostbratwurst |     12     |     6      | 50 bags x 30 sausgs. |   123.79  |      0       |      0       |      0       |      1       |
|     38    |      Cte de Blaye      |     18     |     1      |  12 - 75 cl bottles  |   263.5   |      17      |      0       |      15      |      0       |
+-----------+------------------------+------------+------------+----------------------+-----------+--------------+--------------+--------------+--------------+

In [8]:
%%sql
WITH Stats AS (
    SELECT 
        Discontinued,
        MIN(UnitPrice) AS MinPrice,
        MAX(UnitPrice) AS MaxPrice,
        AVG(UnitPrice) AS AvgPrice,
        COUNT(UnitPrice) AS Count,
        SUM(UnitPrice * UnitPrice) AS SumOfSquares
    FROM 
        Products
    GROUP BY 
        Discontinued
),
Variance AS (
    SELECT
        Discontinued,
        (SumOfSquares - (Count * AvgPrice * AvgPrice)) / (Count - 1) AS Variance
    FROM
        Stats
    WHERE
        Count > 1
)
SELECT
    Stats.Discontinued,
    Stats.MinPrice,
    Stats.MaxPrice,
    Stats.AvgPrice,
    Variance.Variance
FROM
    Stats
LEFT JOIN
    Variance
ON
    Stats.Discontinued = Variance.Discontinued;

Running query in 'sqlite:///Northwind.db'

+--------------+----------+----------+--------------------+--------------------+
| Discontinued | MinPrice | MaxPrice |      AvgPrice      |      Variance      |
+--------------+----------+----------+--------------------+--------------------+
|      0       |   2.5    |  263.5   | 26.734347826086957 | 1053.931810230179  |
|      1       |   4.5    |  123.79  |       47.255       | 1745.2794857142856 |
+--------------+----------+----------+--------------------+--------------------+

In [10]:
%%sql
SELECT *
FROM Suppliers
WHERE ContactName LIKE 'G%'
ORDER BY ContactName;

Running query in 'sqlite:///Northwind.db'

+------------+---------------------------+------------------+---------------------+-------------------------------+---------+--------+------------+---------+-----------------+-----------------+----------+
| SupplierID |        CompanyName        |   ContactName    |     ContactTitle    |            Address            |   City  | Region | PostalCode | Country |      Phone      |       Fax       | HomePage |
+------------+---------------------------+------------------+---------------------+-------------------------------+---------+--------+------------+---------+-----------------+-----------------+----------+
|     26     |    Pasta Buttini s.r.l.   | Giovanni Giudici | Order Administrator |     Via dei Gelsomini, 153    | Salerno |  None  |   84100    |  Italy  |  (089) 6547665  |  (089) 6547667  |   None   |
|     18     | Aux joyeux ecclsiastiques |  Guylne Nodier   |    Sales Manager    | 203, Rue des Francs-Bourgeois |  Paris  |  None  |   75004    |  France | (1) 03.83.00.68 | (1) 03.83.00.62 |   None   |
+------------+---------------------------+------------------+---------------------+-------------------------------+---------+--------+------------+---------+-----------------+-----------------+----------+

In [11]:
%%sql
SELECT
    FirstName || ' ' || LastName AS FullName
FROM
    Employees;

Running query in 'sqlite:///Northwind.db'

+------------------+
|     FullName     |
+------------------+
|  Nancy Davolio   |
|  Andrew Fuller   |
| Janet Leverling  |
| Margaret Peacock |
| Steven Buchanan  |
|  Michael Suyama  |
|   Robert King    |
|  Laura Callahan  |
|  Anne Dodsworth  |
+------------------+

In [16]:
%%sql
SELECT
    ContactName,
    HomePage
FROM
    Suppliers
WHERE
    HomePage IS NULL
ORDER BY
    ContactName;

Running query in 'sqlite:///Northwind.db'

+-----------------------------+----------+
|         ContactName         | HomePage |
+-----------------------------+----------+
|        Anne Heikkonen       |   None   |
| Antonio del Valle Saavedra  |   None   |
|         Beate Vileid        |   None   |
|         Carlos Diaz         |   None   |
|         Chandra Leka        |   None   |
|        Chantal Goulet       |   None   |
|       Charlotte Cooper      |   None   |
|        Cheryl Saylor        |   None   |
|         Dirk Luchte         |   None   |
|          Eliane Noz         |   None   |
+-----------------------------+----------+
Truncated to displaylimit of 10.

In [17]:
%%sql
SELECT
    OrderID,
    UnitPrice * Quantity AS TotalCost
FROM
    OrderDetails
WHERE
    ProductID = 20
ORDER BY
    OrderID;

Running query in 'sqlite:///Northwind.db'

+---------+--------------------+
| OrderID |     TotalCost      |
+---------+--------------------+
|  10252  |       2592.0       |
|  10272  | 388.79999999999995 |
|  10292  |       1296.0       |
|  10372  | 777.5999999999999  |
|  10384  | 1814.3999999999999 |
|  10514  |        3159        |
|  10523  |        1215        |
|  10593  |        1701        |
|  10660  |        1701        |
|  10828  |        405         |
+---------+--------------------+
Truncated to displaylimit of 10.

In [18]:
%%sql
SELECT
    FirstName,
    LastName,
    City
FROM
    Employees
WHERE
    City IN ('London', 'Seattle', 'Redmond');

Running query in 'sqlite:///Northwind.db'

+-----------+-----------+---------+
| FirstName |  LastName |   City  |
+-----------+-----------+---------+
|   Nancy   |  Davolio  | Seattle |
|  Margaret |  Peacock  | Redmond |
|   Steven  |  Buchanan |  London |
|  Michael  |   Suyama  |  London |
|   Robert  |    King   |  London |
|   Laura   |  Callahan | Seattle |
|    Anne   | Dodsworth |  London |
+-----------+-----------+---------+

In [19]:
%%sql
SELECT DISTINCT
    City
FROM
    Employees
ORDER BY
    City;

Running query in 'sqlite:///Northwind.db'

+----------+
|   City   |
+----------+
| Kirkland |
|  London  |
| Redmond  |
| Seattle  |
|  Tacoma  |
+----------+

In [20]:
%%sql
SELECT DISTINCT
    City
FROM
    Employees
ORDER BY
    City;

Running query in 'sqlite:///Northwind.db'

+----------+
|   City   |
+----------+
| Kirkland |
|  London  |
| Redmond  |
| Seattle  |
|  Tacoma  |
+----------+

In [21]:
%%sql
SELECT
    ProductID,
    ProductName,
    UnitPrice,
    UnitsInStock
FROM
    Products
WHERE
    UnitsInStock = 0
    AND UnitPrice BETWEEN 20 AND 25;
5

Running query in 'sqlite:///Northwind.db'

+-----------+------------------------+-----------+--------------+
| ProductID |      ProductName       | UnitPrice | UnitsInStock |
+-----------+------------------------+-----------+--------------+
|     5     | Chef Anton's Gumbo Mix |   21.35   |      0       |
+-----------+------------------------+-----------+--------------+

In [22]:
%%sql
INSERT INTO Categories (CategoryName, Description)
VALUES ('Fresh Produce', 'Fresh Fruits and Vegetables');

Running query in 'sqlite:///Northwind.db'

RuntimeError: (sqlite3.IntegrityError) NOT NULL constraint failed: Categories.CategoryID
[SQL: INSERT INTO Categories (CategoryName, Description)
VALUES ('Fresh Produce', 'Fresh Fruits and Vegetables');]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [23]:
%%sql
INSERT INTO Categories (CategoryID, CategoryName, Description)
VALUES ((SELECT IFNULL(MAX(CategoryID), 0) + 1 FROM Categories), 'Fresh Produce', 'Fresh Fruits and Vegetables');

Running query in 'sqlite:///Northwind.db'

1 rows affected.

++
||
++
++

In [24]:
%%sql
SELECT *
FROM Categories;

Running query in 'sqlite:///Northwind.db'

+------------+----------------+------------------------------------------------------------+---------+
| CategoryID |  CategoryName  |                        Description                         | Picture |
+------------+----------------+------------------------------------------------------------+---------+
|     1      |   Beverages    |        Soft drinks, coffees, teas, beers, and ales         |   None  |
|     2      |   Condiments   | Sweet and savory sauces, relishes, spreads, and seasonings |   None  |
|     3      |  Confections   |            Desserts, candies, and sweet breads             |   None  |
|     4      | Dairy Products |                          Cheeses                           |   None  |
|     5      | Grains/Cereals |            Breads, crackers, pasta, and cereal             |   None  |
|     6      |  Meat/Poultry  |                       Prepared meats                       |   None  |
|     7      |    Produce     |                 Dried fruit and bean curd                  |   None  |
|     8      |    Seafood     |                      Seaweed and fish                      |   None  |
|     9      | Fresh Produce  |                Fresh Fruits and Vegetables                 |   None  |
+------------+----------------+------------------------------------------------------------+---------+

In [26]:
%%sql
SELECT MAX(RegionID) AS MaxRegionID
FROM Region;

Running query in 'sqlite:///Northwind.db'

+-------------+
| MaxRegionID |
+-------------+
|      4      |
+-------------+

In [27]:
%%sql
UPDATE Employees
SET Title = 'Sales Specialist'
WHERE Title = 'Sales Representative';

Running query in 'sqlite:///Northwind.db'

6 rows affected.

++
||
++
++

In [28]:
%%sql
SELECT *
FROM Employees;

Running query in 'sqlite:///Northwind.db'

+------------+-----------+-----------+--------------------------+-----------------+---------------------+---------------------+----------------------------------+----------+--------+------------+---------+----------------+-----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------------------------------------------------------------------------------------------+---------+
| EmployeeID |  LastName | FirstName |          Title           | TitleOfCourtesy |      BirthDate      |       HireDate      |             Address              |   City   | Region | PostalCode | Country |   HomePhone    | Extension |                                                                                                                                                                                                                              Notes                                                                                                                                                                                                                               | ReportsTo |                                         PhotoPath                                         |  Salary |
+------------+-----------+-----------+--------------------------+-----------------+---------------------+---------------------+----------------------------------+----------+--------+------------+---------+----------------+-----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------------------------------------------------------------------------------------------+---------+
|     1      |  Davolio  |   Nancy   |     Sales Specialist     |       Ms.       | 1948-12-08 00:00:00 | 1992-05-01 00:00:00 |    507 - 20th Ave. E.Apt. 2A     | Seattle  |   WA   |   98122    |   USA   | (206) 555-9857 |    5467   |                                                                                                                                         Education includes a BA in psychology from Colorado State University in 1970.  She also completed "The Art of the Cold Call."  Nancy is a member of Toastmasters International.                                                                                                                                          |     2     |   <a href=http://accweb/emmployees/davolio.bmp>http://accweb/emmployees/davolio.bmp</a>   | 2954.55 |
|     2      |   Fuller  |   Andrew  |  Vice President, Sales   |       Dr.       | 1952-02-19 00:00:00 | 1992-08-14 00:00:00 |        908 W. Capital Way        |  Tacoma  |   WA   |   98401    |   USA   | (206) 555-9482 |    3457   | Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association. |    None   |    <a href=http://accweb/emmployees/fuller.bmp>http://accweb/emmployees/fuller.bmp</a>    | 2254.49 |
|     3      | Leverling |   Janet   |     Sales Specialist     |       Ms.       | 1963-08-30 00:00:00 | 1992-04-01 00:00:00 |        722 Moss Bay Blvd.        | Kirkland |   WA   |   98033    |   USA   | (206) 555-3412 |    3355   |                                                                                                         Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.                                                                                                          |     2     | <a href=http://accweb/emmployees/leverling.bmp>http://accweb/emmployees/leverling.bmp</a> | 3119.15 |
|     4      |  Peacock  |  Margaret |     Sales Specialist     |       Mrs.      | 1937-09-19 00:00:00 | 1993-05-03 00:00:00 |       4110 Old Redmond Rd.       | Redmond  |   WA   |   98052    |   USA   | (206) 555-8122 |    5176   |                                                                                                                    Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.                                                                                                                    |     2     |   <a href=http://accweb/emmployees/peacock.bmp>http://accweb/emmployees/peacock.bmp</a>   | 1861.08 |
|     5      |  Buchanan |   Steven  |      Sales Manager       |       Mr.       | 1955-03-04 00:00:00 | 1993-10-17 00:00:00 |         14 Garrett Hill          |  London  |  None  |  SW1 8JR   |    UK   | (71) 555-4848  |    3453   | Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. Buchanan has completed the courses "Successful Telemarketing" and "International Sales Management."  He is fluent in French. |     2     |  <a href=http://accweb/emmployees/buchanan.bmp>http://accweb/emmployees/buchanan.bmp</a>  | 1744.21 |
|     6      |   Suyama  |  Michael  |     Sales Specialist     |       Mr.       | 1963-07-02 00:00:00 | 1993-10-17 00:00:00 |   Coventry House\r\nMiner Rd.    |  London  |  None  |  EC2 7JR   |    UK   | (71) 555-7773  |    428    |                                                               Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses "Multi-Cultural Selling" and "Time Management for the Sales Professional."  He is fluent in Japanese and can read and write French, Portuguese, and Spanish.                                                               |     5     |   <a href=http://accweb/emmployees/davolio.bmp>http://accweb/emmployees/davolio.bmp</a>   | 2004.07 |
|     7      |    King   |   Robert  |     Sales Specialist     |       Mr.       | 1960-05-29 00:00:00 | 1994-01-02 00:00:00 | Edgeham Hollow\r\nWinchester Way |  London  |  None  |  RG1 9SP   |    UK   | (71) 555-5598  |    465    |                                                                                  Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled "Selling in Europe," he was transferred to the London office in March 1993.                                                                                   |     5     |   <a href=http://accweb/emmployees/davolio.bmp>http://accweb/emmployees/davolio.bmp</a>   | 1991.55 |
|     8      |  Callahan |   Laura   | Inside Sales Coordinator |       Ms.       | 1958-01-09 00:00:00 | 1994-03-05 00:00:00 |      4726 - 11th Ave. N.E.       | Seattle  |   WA   |   98105    |   USA   | (206) 555-1189 |    2344   |                                                                                                                                                     Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.                                                                                                                                                      |     2     |   <a href=http://accweb/emmployees/davolio.bmp>http://accweb/emmployees/davolio.bmp</a>   |  2100.5 |
|     9      | Dodsworth |    Anne   |     Sales Specialist     |       Ms.       | 1966-01-27 00:00:00 | 1994-11-15 00:00:00 |        7 Houndstooth Rd.         |  London  |  None  |  WG2 7LT   |    UK   | (71) 555-4444  |    452    |                                                                                                                                                                                 Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German.                                                                                                                                                                                  |     5     |   <a href=http://accweb/emmployees/davolio.bmp>http://accweb/emmployees/davolio.bmp</a>   | 2333.33 |
+------------+-----------+-----------+--------------------------+-----------------+---------------------+---------------------+----------------------------------+----------+--------+------------+---------+----------------+-----------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+-------------------------------------------------------------------------------------------+---------+

In [29]:
%%sql
UPDATE Regions
SET RegionDescription = 'Southeast'
WHERE RegionDescription = 'Midwest';

Running query in 'sqlite:///Northwind.db'

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(sqlite3.OperationalError) no such table: Regions
[SQL: UPDATE Regions
SET RegionDescription = 'Southeast'
WHERE RegionDescription = 'Midwest';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

If you need help solving this issue, send us a message: https://ploomber.io/community

In [30]:
%%sql
SELECT name 
FROM sqlite_master 
WHERE type = 'table';

Running query in 'sqlite:///Northwind.db'

Deploy Streamlit apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

+---------------------+
|         name        |
+---------------------+
|      Categories     |
|      Customers      |
|        Region       |
|       Shippers      |
|      Suppliers      |
|      Employees      |
| EmployeeTerritories |
|     OrderDetails    |
|        Orders       |
|     Territories     |
+---------------------+
Truncated to displaylimit of 10.

In [32]:
%%sql
UPDATE Region
SET RegionDescription = 'Southeast'
WHERE RegionDescription = 'Midwest';

Running query in 'sqlite:///Northwind.db'

++
||
++
++

In [34]:
%%sql
SELECT *
FROM Region;

Running query in 'sqlite:///Northwind.db'

+----------+-------------------+
| RegionID | RegionDescription |
+----------+-------------------+
|    1     |      Eastern      |
|    2     |      Westerns     |
|    3     |      Northern     |
|    4     |      Southern     |
+----------+-------------------+

In [35]:
%%sql
-- Step 1: Delete the order details for order number 11071
DELETE FROM OrderDetails
WHERE OrderID = 11071;

-- Step 2: Verify the deletion in the OrderDetails table
SELECT *
FROM OrderDetails
WHERE OrderID = 11071;

-- Step 3: Delete the order itself from the Orders table
DELETE FROM Orders
WHERE OrderID = 11071;

-- Optional: Verify the deletion in the Orders table
SELECT *
FROM Orders
WHERE OrderID = 11071;

Running query in 'sqlite:///Northwind.db'

2 rows affected.

1 rows affected.

+---------+------------+------------+-----------+--------------+-------------+---------+---------+----------+-------------+----------+------------+----------------+-------------+
| OrderID | CustomerID | EmployeeID | OrderDate | RequiredDate | ShippedDate | ShipVia | Freight | ShipName | ShipAddress | ShipCity | ShipRegion | ShipPostalCode | ShipCountry |
+---------+------------+------------+-----------+--------------+-------------+---------+---------+----------+-------------+----------+------------+----------------+-------------+
+---------+------------+------------+-----------+--------------+-------------+---------+---------+----------+-------------+----------+------------+----------------+-------------+

In [37]:
%%sql
DELETE FROM Orders
WHERE OrderID = 11071;

-- Step 2: Verify that the record has been removed from the Orders table
SELECT *
FROM Orders
WHERE OrderID = 11071;

Running query in 'sqlite:///Northwind.db'

+---------+------------+------------+-----------+--------------+-------------+---------+---------+----------+-------------+----------+------------+----------------+-------------+
| OrderID | CustomerID | EmployeeID | OrderDate | RequiredDate | ShippedDate | ShipVia | Freight | ShipName | ShipAddress | ShipCity | ShipRegion | ShipPostalCode | ShipCountry |
+---------+------------+------------+-----------+--------------+-------------+---------+---------+----------+-------------+----------+------------+----------------+-------------+
+---------+------------+------------+-----------+--------------+-------------+---------+---------+----------+-------------+----------+------------+----------------+-------------+

In [38]:
%%sql
-- Step 1: Update Margaret Peacock's salary to reflect a 5% raise
UPDATE Employees
SET Salary = Salary * 1.05
WHERE FirstName = 'Margaret' AND LastName = 'Peacock';

-- Step 2: Verify the update
SELECT *
FROM Employees
WHERE FirstName = 'Margaret' AND LastName = 'Peacock';

Running query in 'sqlite:///Northwind.db'

1 rows affected.

+------------+----------+-----------+------------------+-----------------+---------------------+---------------------+----------------------+---------+--------+------------+---------+----------------+-----------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+---------------------------------------------------------------------------------------+----------+
| EmployeeID | LastName | FirstName |      Title       | TitleOfCourtesy |      BirthDate      |       HireDate      |       Address        |   City  | Region | PostalCode | Country |   HomePhone    | Extension |                                                                                                           Notes                                                                                                            | ReportsTo |                                       PhotoPath                                       |  Salary  |
+------------+----------+-----------+------------------+-----------------+---------------------+---------------------+----------------------+---------+--------+------------+---------+----------------+-----------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+---------------------------------------------------------------------------------------+----------+
|     4      | Peacock  |  Margaret | Sales Specialist |       Mrs.      | 1937-09-19 00:00:00 | 1993-05-03 00:00:00 | 4110 Old Redmond Rd. | Redmond |   WA   |   98052    |   USA   | (206) 555-8122 |    5176   | Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992. |     2     | <a href=http://accweb/emmployees/peacock.bmp>http://accweb/emmployees/peacock.bmp</a> | 1954.134 |
+------------+----------+-----------+------------------+-----------------+---------------------+---------------------+----------------------+---------+--------+------------+---------+----------------+-----------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-----------+---------------------------------------------------------------------------------------+----------+

In [41]:
%%sql
SELECT MAX(SupplierID) AS MaxSupplierID
FROM Suppliers;

Running query in 'sqlite:///Northwind.db'

+---------------+
| MaxSupplierID |
+---------------+
|       29      |
+---------------+

In [43]:
%%sql
INSERT INTO Suppliers (
    SupplierID,
    CompanyName,
    ContactName,
    ContactTitle,
    Address,
    City,
    Region,
    PostalCode,
    Country,
    Phone
) VALUES (
    30,  -- Replace with the next available SupplierID
    'Acme Enterprises',
    'Wylie Coyote',
    'Executive Manager',
    '123 Main Street',
    'Las Vegas',
    'NV',
    '89108',
    'USA',
    '(702) 555-9876'
);

Running query in 'sqlite:///Northwind.db'

1 rows affected.

++
||
++
++

In [45]:
%%sql
SELECT *
FROM Suppliers
WHERE CompanyName = 'Acme Enterprises';

Running query in 'sqlite:///Northwind.db'

+------------+------------------+--------------+-------------------+-----------------+-----------+--------+------------+---------+----------------+------+----------+
| SupplierID |   CompanyName    | ContactName  |    ContactTitle   |     Address     |    City   | Region | PostalCode | Country |     Phone      | Fax  | HomePage |
+------------+------------------+--------------+-------------------+-----------------+-----------+--------+------------+---------+----------------+------+----------+
|     30     | Acme Enterprises | Wylie Coyote | Executive Manager | 123 Main Street | Las Vegas |   NV   |   89108    |   USA   | (702) 555-9876 | None |   None   |
+------------+------------------+--------------+-------------------+-----------------+-----------+--------+------------+---------+----------------+------+----------+

In [46]:
%%sql
-- Step 1: Update the UnitsInStock value for "Boston Crab Meat"
UPDATE Products
SET UnitsInStock = UnitsInStock - 40
WHERE ProductName = 'Boston Crab Meat';

-- Step 2: Verify the update
SELECT ProductName, UnitsInStock
FROM Products
WHERE ProductName = 'Boston Crab Meat';

Running query in 'sqlite:///Northwind.db'

1 rows affected.

+------------------+--------------+
|   ProductName    | UnitsInStock |
+------------------+--------------+
| Boston Crab Meat |      83      |
+------------------+--------------+

In [48]:
%%sql

-- Step 1: Delete the region with description "Southeast" from the correct table
DELETE FROM Region
WHERE RegionDescription = 'Southeast';

-- Step 2: Verify that the region has been removed
SELECT *
FROM Region
WHERE RegionDescription = 'Southeast';

Running query in 'sqlite:///Northwind.db'

+----------+-------------------+
| RegionID | RegionDescription |
+----------+-------------------+
+----------+-------------------+

In [49]:
%%sql
SELECT
    p.ProductID,
    p.ProductName,
    c.CategoryName
FROM
    Products p
INNER JOIN
    Categories c
ON
    p.CategoryID = c.CategoryID
WHERE
    c.CategoryName IN ('Seafood', 'Produce');

Running query in 'sqlite:///Northwind.db'

+-----------+---------------------------------+--------------+
| ProductID |           ProductName           | CategoryName |
+-----------+---------------------------------+--------------+
|     7     | Uncle Bob's Organic Dried Pears |   Produce    |
|     10    |              Ikura              |   Seafood    |
|     13    |              Konbu              |   Seafood    |
|     14    |               Tofu              |   Produce    |
|     18    |         Carnarvon Tigers        |   Seafood    |
|     28    |         Rssle Sauerkraut        |   Produce    |
|     30    |      Nord-Ost Matjeshering      |   Seafood    |
|     36    |           Inlagd Sill           |   Seafood    |
|     37    |            Gravad lax           |   Seafood    |
|     40    |         Boston Crab Meat        |   Seafood    |
+-----------+---------------------------------+--------------+
Truncated to displaylimit of 10.

In [50]:
%%sql
SELECT
    LastName,
    FirstName,
    Title,
    Salary
FROM
    Employees
WHERE
    Salary > (SELECT AVG(Salary) FROM Employees);

Running query in 'sqlite:///Northwind.db'

+-----------+-----------+------------------+---------+
|  LastName | FirstName |      Title       |  Salary |
+-----------+-----------+------------------+---------+
|  Davolio  |   Nancy   | Sales Specialist | 2954.55 |
| Leverling |   Janet   | Sales Specialist | 3119.15 |
| Dodsworth |    Anne   | Sales Specialist | 2333.33 |
+-----------+-----------+------------------+---------+

In [51]:
%%sql
-- Query to calculate the average salary for employees in Seattle
SELECT 
    'Seattle' AS City,
    AVG(Salary) AS AverageSalary
FROM 
    Employees
WHERE 
    City = 'Seattle'

UNION

-- Query to calculate the average salary for employees in London
SELECT 
    'London' AS City,
    AVG(Salary) AS AverageSalary
FROM 
    Employees
WHERE 
    City = 'London';

Running query in 'sqlite:///Northwind.db'

+---------+---------------+
|   City  | AverageSalary |
+---------+---------------+
|  London |    2018.29    |
| Seattle |    2527.525   |
+---------+---------------+

In [52]:
%%sql
SELECT
    ProductName
FROM
    Products
WHERE
    ProductID IN (
        SELECT
            ProductID
        FROM
            OrderDetails
        GROUP BY
            ProductID
        HAVING
            SUM(Quantity) >= 120
    );

Running query in 'sqlite:///Northwind.db'

+---------------------------------+
|           ProductName           |
+---------------------------------+
|               Chai              |
|              Chang              |
|          Aniseed Syrup          |
|   Chef Anton's Cajun Seasoning  |
|      Chef Anton's Gumbo Mix     |
|   Grandma's Boysenberry Spread  |
| Uncle Bob's Organic Dried Pears |
|    Northwoods Cranberry Sauce   |
|              Ikura              |
|          Queso Cabrales         |
+---------------------------------+
Truncated to displaylimit of 10.

In [54]:
%%sql
SELECT
    CompanyName,
    City
FROM
    Suppliers
WHERE
    City IN (
        SELECT
            DISTINCT City
        FROM
            Employees
    );

Running query in 'sqlite:///Northwind.db'

+----------------+--------+
|  CompanyName   |  City  |
+----------------+--------+
| Exotic Liquids | London |
+----------------+--------+

In [55]:
%%sql
SELECT DISTINCT
    e.FirstName,
    e.LastName
FROM
    Employees e
INNER JOIN
    EmployeeTerritories et ON e.EmployeeID = et.EmployeeID
INNER JOIN
    Territories t ON et.TerritoryID = t.TerritoryID
INNER JOIN
    Region r ON t.RegionID = r.RegionID
WHERE
    r.RegionDescription = 'Western';

Running query in 'sqlite:///Northwind.db'

+-----------+----------+
| FirstName | LastName |
+-----------+----------+
+-----------+----------+

In [57]:
%%sql
SELECT
    c.ContactName,
    c.City,
    o.OrderID
FROM
    Customers c
LEFT JOIN
    Orders o ON c.CustomerID = o.CustomerID
WHERE
    c.City IN ('Madrid', 'Paris');

Running query in 'sqlite:///Northwind.db'

+------------------+--------+---------+
|   ContactName    |  City  | OrderID |
+------------------+--------+---------+
|   Martn Sommer   | Madrid |  10326  |
|   Martn Sommer   | Madrid |  10801  |
|   Martn Sommer   | Madrid |  10970  |
|    Diego Roel    | Madrid |   None  |
|  Marie Bertrand  | Paris  |   None  |
| Alejandra Camino | Madrid |  10281  |
| Alejandra Camino | Madrid |  10282  |
| Alejandra Camino | Madrid |  10306  |
| Alejandra Camino | Madrid |  10917  |
| Alejandra Camino | Madrid |  11013  |
+------------------+--------+---------+
Truncated to displaylimit of 10.

In [58]:
%%sql
SELECT
    CompanyName,
    Phone
FROM
    Suppliers

UNION

SELECT
    CompanyName,
    Phone
FROM
    Shippers

ORDER BY
    CompanyName;

Running query in 'sqlite:///Northwind.db'

+------------------------------------+-----------------+
|            CompanyName             |      Phone      |
+------------------------------------+-----------------+
|          Acme Enterprises          |  (702) 555-9876 |
|     Aux joyeux ecclsiastiques      | (1) 03.83.00.68 |
|         Bigfoot Breweries          |  (503) 555-9931 |
| Cooperativa de Quesos 'Las Cabras' |  (98) 598 76 54 |
|         Escargots Nouveaux         |   85.57.00.07   |
|           Exotic Liquids           |  (171) 555-2222 |
|          Federal Shipping          |  (503) 555-9931 |
|      Formaggi Fortini s.r.l.       |   (0544) 60323  |
|           Forts d'rables           |  (514) 555-2955 |
|            G'day, Mate             |  (02) 555-5914  |
+------------------------------------+-----------------+
Truncated to displaylimit of 10.

In [59]:
%%sql
SELECT
    e.FirstName,
    e.LastName,
    e.Salary,
    e.Country
FROM
    Employees e
WHERE
    e.Salary > (
        SELECT
            AVG(e2.Salary)
        FROM
            Employees e2
        WHERE
            e2.Country = e.Country
    );

Running query in 'sqlite:///Northwind.db'

+-----------+-----------+---------+---------+
| FirstName |  LastName |  Salary | Country |
+-----------+-----------+---------+---------+
|   Nancy   |  Davolio  | 2954.55 |   USA   |
|   Janet   | Leverling | 3119.15 |   USA   |
|    Anne   | Dodsworth | 2333.33 |    UK   |
+-----------+-----------+---------+---------+

In [60]:
%%sql
SELECT
    p.ProductName,
    s.Country AS SupplierCountry
FROM
    Products p
INNER JOIN
    Suppliers s ON p.SupplierID = s.SupplierID
WHERE
    s.Country IN ('USA', 'Norway')
ORDER BY
    p.ProductName;

Running query in 'sqlite:///Northwind.db'

+----------------------------------+-----------------+
|           ProductName            | SupplierCountry |
+----------------------------------+-----------------+
|         Boston Crab Meat         |       USA       |
|   Chef Anton's Cajun Seasoning   |       USA       |
|      Chef Anton's Gumbo Mix      |       USA       |
|           Flotemysost            |      Norway     |
|             Geitost              |      Norway     |
|   Grandma's Boysenberry Spread   |       USA       |
|         Gudbrandsdalsost         |      Norway     |
| Jack's New England Clam Chowder  |       USA       |
|    Laughing Lumberjack Lager     |       USA       |
| Louisiana Fiery Hot Pepper Sauce |       USA       |
+----------------------------------+-----------------+
Truncated to displaylimit of 10.

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [3]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1808",
    database="united_nations"


)

In [4]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FDEA24D0D0>

In [7]:
cursor = mydb.cursor()
cursor.execute("SHOW DATABASES")

for x in cursor:
    print(x)

('information_schema',)
('md_water_services',)
('mysql',)
('performance_schema',)
('united_nations',)

In [9]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1808",
    database="united_nations"


)

In [10]:
# Creating a cursor object
cursor = mydb.cursor()

# Executing the query
cursor.execute("SELECT * FROM access_to_basic_services LIMIT 5")

# Fetching and printing the results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Closing the cursor and connection
cursor.close()
mydb.close()

('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93'))
('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96'))
('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90'))
('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85'))
('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))

In [11]:
%sql mysql+pymysql://root:1808@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

## Exercise

The following table specifies which countries belong to each Regional Economic Community (REC):

| Regional Economic Community | Countries |
|----------------------------|------------|
| SADC                       | Angola, Botswana, Comoros, Democratic Republic of Congo, Eswatini, Lesotho, Madagascar, Malawi, Mauritius, Mozambique, Namibia, Seychelles, South Africa, United Republic Tanzania, Zambia, Zimbabwe |
| UMA                        | Algeria, Libya, Mauritania, Morocco, Tunisia |
| ECOWAS                     | Benin, Burkina Faso, Cabo Verde, Cote d’Ivoire, Gambia, Ghana, Guinea, Guinea-Bissau, Liberia, Mali, Niger, Nigeria, Senegal, Sierra Leone, Togo |
| Not Classified             | Other countries not listed above |

We will use this table when constructing our queries.

### 1. Identify regions in Africa

Construct a query that selects only the regions falling within Africa. Use the `LIKE` operator to identify records where the `Region` contains `Africa`.

In [14]:
import mysql.connector

# Establishing a connection to the database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1808",
    database="united_nations"


)

# Creating a cursor object
cursor = mydb.cursor()

# Executing the query
cursor.execute("SELECT * FROM access_to_basic_services WHERE Region LIKE '%Africa%'")

# Fetching and printing the results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Closing the cursor and connection
cursor.close()
mydb.close()

('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2015, Decimal('92.00'), Decimal('85.00'), Decimal('39.543154'), Decimal('165.98'), Decimal('2381741.00'), Decimal('11.21'))
('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2016, Decimal('93.00'), Decimal('85.33'), Decimal('40.339329'), Decimal('160.03'), Decimal('2381741.00'), Decimal('10.20'))
('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2017, Decimal('93.00'), Decimal('84.67'), Decimal('41.136546'), Decimal('170.10'), Decimal('2381741.00'), Decimal('12.00'))
('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2018, Decimal('93.00'), Decimal('84.67'), Decimal('41.927007'), Decimal('174.91'), Decimal('2381741.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2019, Decimal('93.33'), Decimal('84.67'), Decimal('42.705368'), Decimal('171.77'), Decimal('2381741.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Algeria', 2020, Decimal('93.33'), Decimal('84.33'), Decimal('43.451666'), Decimal('145.01'), Decimal('2381741.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2015, Decimal('99.33'), Decimal('96.33'), None, None, None, None)
('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2016, Decimal('99.33'), Decimal('96.33'), None, None, None, None)
('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2017, Decimal('99.33'), Decimal('96.33'), None, None, None, None)
('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2018, Decimal('99.33'), Decimal('97.00'), None, None, None, None)
('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2019, Decimal('99.33'), Decimal('97.00'), None, None, None, None)
('Northern Africa and Western Asia', 'Northern Africa', 'Egypt', 2020, Decimal('99.33'), Decimal('97.67'), None, None, None, None)
('Northern Africa and Western Asia', 'Northern Africa', 'Libya', 2015, Decimal('97.00'), Decimal('92.00'), Decimal('6.192235'), Decimal('48.72'), Decimal('1759540.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Libya', 2016, Decimal('98.00'), Decimal('92.00'), Decimal('6.282196'), Decimal('49.91'), Decimal('1759540.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Libya', 2017, Decimal('99.00'), Decimal('92.00'), Decimal('6.378261'), Decimal('67.16'), Decimal('1759540.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Libya', 2018, Decimal('100.00'), Decimal('92.00'), Decimal('6.477793'), Decimal('76.68'), Decimal('1759540.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Libya', 2019, Decimal('100.00'), Decimal('92.00'), Decimal('6.569088'), Decimal('69.25'), Decimal('1759540.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Libya', 2020, Decimal('100.00'), Decimal('92.00'), Decimal('6.653942'), Decimal('50.36'), Decimal('1759540.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Morocco', 2015, Decimal('81.33'), Decimal('80.67'), Decimal('34.680458'), Decimal('110.41'), Decimal('446300.00'), Decimal('9.46'))
('Northern Africa and Western Asia', 'Northern Africa', 'Morocco', 2016, Decimal('83.00'), Decimal('81.67'), Decimal('35.107264'), Decimal('111.57'), Decimal('446300.00'), Decimal('9.30'))
('Northern Africa and Western Asia', 'Northern Africa', 'Morocco', 2017, Decimal('84.00'), Decimal('82.00'), Decimal('35.528115'), Decimal('118.54'), Decimal('446300.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Morocco', 2018, Decimal('85.67'), Decimal('83.00'), Decimal('35.927511'), Decimal('127.34'), Decimal('446300.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Morocco', 2019, Decimal('87.33'), Decimal('84.00'), Decimal('36.304408'), Decimal('128.92'), Decimal('446300.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Morocco', 2020, Decimal('88.33'), Decimal('84.67'), Decimal('36.688772'), Decimal('121.35'), Decimal('446300.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Sudan', 2015, Decimal('61.33'), Decimal('38.67'), Decimal('38.171178'), Decimal('84.99'), Decimal('1868000.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Sudan', 2016, Decimal('62.33'), Decimal('40.00'), Decimal('39.377169'), Decimal('102.94'), Decimal('1868000.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Sudan', 2017, Decimal('62.33'), Decimal('40.33'), Decimal('40.679828'), Decimal('129.72'), Decimal('1868000.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Sudan', 2018, Decimal('62.33'), Decimal('40.33'), Decimal('41.999059'), Decimal('32.33'), Decimal('1868000.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Sudan', 2019, Decimal('62.33'), Decimal('40.33'), Decimal('43.232093'), Decimal('32.34'), Decimal('1868000.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Sudan', 2020, Decimal('62.33'), Decimal('40.33'), Decimal('44.440486'), Decimal('27.03'), Decimal('1868000.00'), None)
('Northern Africa and Western Asia', 'Northern Africa', 'Tunisia', 2015, Decimal('93.33'), Decimal('90.33'), Decimal('11.557779'), Decimal('45.78'), Decimal('155360.00'), Decimal('15.16'))
('Northern Africa and Western Asia', 'Northern Africa', 'Tunisia', 2016, Decimal('93.67'), Decimal('92.00'), Decimal('11.685667'), Decimal('44.36'), Decimal('155360.00'), Decimal('15.56'))
('Northern Africa and Western Asia', 'Northern Africa', 'Tunisia', 2017, Decimal('94.67'), Decimal('93.00'), Decimal('11.811443'), Decimal('42.16'), Decimal('155360.00'), Decimal('15.33'))
('Northern Africa and Western Asia', 'Northern Africa', 'Tunisia', 2018, Decimal('95.67'), Decimal('94.33'), Decimal('11.933041'), Decimal('42.69'), Decimal('155360.00'), Decimal('15.46'))
('Northern Africa and Western Asia', 'Northern Africa', 'Tunisia', 2019, Decimal('96.00'), Decimal('95.67'), Decimal('12.049314'), Decimal('41.91'), Decimal('155360.00'), Decimal('15.13'))
('Northern Africa and Western Asia', 'Northern Africa', 'Tunisia', 2020, Decimal('97.00'), Decimal('97.33'), Decimal('12.161723'), Decimal('42.54'), Decimal('155360.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Armenia', 2015, Decimal('99.67'), Decimal('91.33'), Decimal('2.878595'), Decimal('10.55'), Decimal('28470.00'), Decimal('18.26'))
('Northern Africa and Western Asia', 'Western Asia', 'Armenia', 2016, Decimal('99.67'), Decimal('91.67'), Decimal('2.865835'), Decimal('10.55'), Decimal('28470.00'), Decimal('17.62'))
('Northern Africa and Western Asia', 'Western Asia', 'Armenia', 2017, Decimal('100.00'), Decimal('92.00'), Decimal('2.851923'), Decimal('11.53'), Decimal('28470.00'), Decimal('17.70'))
('Northern Africa and Western Asia', 'Western Asia', 'Armenia', 2018, Decimal('100.00'), Decimal('92.33'), Decimal('2.836557'), Decimal('12.46'), Decimal('28470.00'), Decimal('13.21'))
('Northern Africa and Western Asia', 'Western Asia', 'Armenia', 2019, Decimal('100.00'), Decimal('92.33'), Decimal('2.820602'), Decimal('13.62'), Decimal('28470.00'), Decimal('12.20'))
('Northern Africa and Western Asia', 'Western Asia', 'Armenia', 2020, Decimal('100.00'), Decimal('92.33'), Decimal('2.805608'), Decimal('12.64'), Decimal('28470.00'), Decimal('12.18'))
('Northern Africa and Western Asia', 'Western Asia', 'Azerbaijan', 2015, Decimal('91.67'), Decimal('96.00'), Decimal('9.649341'), Decimal('53.07'), Decimal('82663.00'), Decimal('4.96'))
('Northern Africa and Western Asia', 'Western Asia', 'Azerbaijan', 2016, Decimal('92.33'), Decimal('96.00'), Decimal('9.757812'), Decimal('37.87'), Decimal('82670.00'), Decimal('5.00'))
('Northern Africa and Western Asia', 'Western Asia', 'Azerbaijan', 2017, Decimal('93.67'), Decimal('96.00'), Decimal('9.854033'), Decimal('40.87'), Decimal('82662.00'), Decimal('4.96'))
('Northern Africa and Western Asia', 'Western Asia', 'Azerbaijan', 2018, Decimal('94.33'), Decimal('96.00'), Decimal('9.939771'), Decimal('47.11'), Decimal('82654.00'), Decimal('4.94'))
('Northern Africa and Western Asia', 'Western Asia', 'Azerbaijan', 2019, Decimal('95.00'), Decimal('96.00'), Decimal('10.024283'), Decimal('48.17'), Decimal('82654.00'), Decimal('4.85'))
('Northern Africa and Western Asia', 'Western Asia', 'Azerbaijan', 2020, Decimal('95.67'), Decimal('96.00'), Decimal('10.093121'), Decimal('42.69'), Decimal('82646.00'), Decimal('7.16'))
('Northern Africa and Western Asia', 'Western Asia', 'Bahrain', 2015, Decimal('100.00'), Decimal('100.00'), Decimal('1.362142'), Decimal('31.05'), Decimal('778.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Bahrain', 2016, Decimal('100.00'), Decimal('100.00'), Decimal('1.409661'), Decimal('32.23'), Decimal('779.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Bahrain', 2017, Decimal('100.00'), Decimal('100.00'), Decimal('1.456834'), Decimal('35.47'), Decimal('780.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Bahrain', 2018, Decimal('100.00'), Decimal('100.00'), Decimal('1.487340'), Decimal('37.80'), Decimal('780.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Bahrain', 2019, Decimal('100.00'), Decimal('100.00'), Decimal('1.494188'), Decimal('38.65'), Decimal('783.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Bahrain', 2020, Decimal('100.00'), Decimal('100.00'), Decimal('1.477469'), Decimal('34.72'), Decimal('785.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Cyprus', 2015, Decimal('100.00'), Decimal('99.33'), Decimal('1.187280'), Decimal('19.91'), Decimal('9240.00'), Decimal('15.03'))
('Northern Africa and Western Asia', 'Western Asia', 'Cyprus', 2016, Decimal('100.00'), Decimal('99.33'), Decimal('1.197881'), Decimal('21.05'), Decimal('9240.00'), Decimal('13.01'))
('Northern Africa and Western Asia', 'Western Asia', 'Cyprus', 2017, Decimal('100.00'), Decimal('99.33'), Decimal('1.208523'), Decimal('22.95'), Decimal('9240.00'), Decimal('11.16'))
('Northern Africa and Western Asia', 'Western Asia', 'Cyprus', 2018, Decimal('100.00'), Decimal('99.33'), Decimal('1.218831'), Decimal('25.60'), Decimal('9240.00'), Decimal('8.50'))
('Northern Africa and Western Asia', 'Western Asia', 'Cyprus', 2019, Decimal('100.00'), Decimal('99.33'), Decimal('1.228836'), Decimal('25.94'), Decimal('9240.00'), Decimal('7.15'))
('Northern Africa and Western Asia', 'Western Asia', 'Cyprus', 2020, Decimal('100.00'), Decimal('99.33'), Decimal('1.237537'), Decimal('25.01'), Decimal('9240.00'), Decimal('7.76'))
('Northern Africa and Western Asia', 'Western Asia', 'Georgia', 2015, Decimal('95.33'), Decimal('85.67'), Decimal('3.725276'), Decimal('14.95'), Decimal('69490.00'), Decimal('16.51'))
('Northern Africa and Western Asia', 'Western Asia', 'Georgia', 2016, Decimal('96.00'), Decimal('85.00'), Decimal('3.727505'), Decimal('15.14'), Decimal('69490.00'), Decimal('16.60'))
('Northern Africa and Western Asia', 'Western Asia', 'Georgia', 2017, Decimal('96.67'), Decimal('85.33'), Decimal('3.728004'), Decimal('16.24'), Decimal('69490.00'), Decimal('13.94'))
('Northern Africa and Western Asia', 'Western Asia', 'Georgia', 2018, Decimal('96.67'), Decimal('85.00'), Decimal('3.726549'), Decimal('17.60'), Decimal('69490.00'), Decimal('12.67'))
('Northern Africa and Western Asia', 'Western Asia', 'Georgia', 2019, Decimal('96.67'), Decimal('84.67'), Decimal('3.720161'), Decimal('17.47'), Decimal('69490.00'), Decimal('11.57'))
('Northern Africa and Western Asia', 'Western Asia', 'Georgia', 2020, Decimal('96.67'), Decimal('84.33'), Decimal('3.722716'), Decimal('15.84'), Decimal('69490.00'), Decimal('11.73'))
('Northern Africa and Western Asia', 'Western Asia', 'Iraq', 2015, Decimal('92.33'), Decimal('92.00'), Decimal('37.757813'), Decimal('166.77'), Decimal('434128.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Iraq', 2016, Decimal('93.67'), Decimal('94.33'), Decimal('38.697943'), Decimal('166.60'), Decimal('434128.00'), Decimal('10.82'))
('Northern Africa and Western Asia', 'Western Asia', 'Iraq', 2017, Decimal('94.67'), Decimal('96.00'), Decimal('39.621162'), Decimal('187.22'), Decimal('434128.00'), Decimal('13.02'))
('Northern Africa and Western Asia', 'Western Asia', 'Iraq', 2018, Decimal('95.67'), Decimal('97.67'), Decimal('40.590700'), Decimal('227.37'), Decimal('434128.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Iraq', 2019, Decimal('97.00'), Decimal('99.33'), Decimal('41.563520'), Decimal('233.64'), Decimal('434128.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Iraq', 2020, Decimal('97.67'), Decimal('100.00'), Decimal('42.556984'), Decimal('184.37'), Decimal('434128.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Israel', 2015, Decimal('100.00'), Decimal('100.00'), Decimal('8.380100'), Decimal('303.41'), Decimal('21640.00'), Decimal('5.18'))
('Northern Africa and Western Asia', 'Western Asia', 'Israel', 2016, Decimal('100.00'), Decimal('100.00'), Decimal('8.546000'), Decimal('322.10'), Decimal('21640.00'), Decimal('4.72'))
('Northern Africa and Western Asia', 'Western Asia', 'Israel', 2017, Decimal('100.00'), Decimal('100.00'), Decimal('8.713300'), Decimal('358.25'), Decimal('21640.00'), Decimal('4.14'))
('Northern Africa and Western Asia', 'Western Asia', 'Israel', 2018, Decimal('100.00'), Decimal('99.67'), Decimal('8.882800'), Decimal('376.69'), Decimal('21640.00'), Decimal('3.92'))
('Northern Africa and Western Asia', 'Western Asia', 'Israel', 2019, Decimal('100.00'), Decimal('99.67'), Decimal('9.054000'), Decimal('402.47'), Decimal('21640.00'), Decimal('3.73'))
('Northern Africa and Western Asia', 'Western Asia', 'Israel', 2020, Decimal('100.00'), Decimal('99.67'), Decimal('9.215100'), Decimal('413.27'), Decimal('21640.00'), Decimal('4.17'))
('Northern Africa and Western Asia', 'Western Asia', 'Jordan', 2015, Decimal('98.33'), Decimal('97.00'), Decimal('9.494246'), Decimal('38.59'), Decimal('88780.00'), Decimal('13.08'))
('Northern Africa and Western Asia', 'Western Asia', 'Jordan', 2016, Decimal('98.33'), Decimal('97.00'), Decimal('9.964656'), Decimal('39.89'), Decimal('88780.00'), Decimal('15.28'))
('Northern Africa and Western Asia', 'Western Asia', 'Jordan', 2017, Decimal('98.33'), Decimal('96.67'), Decimal('10.215381'), Decimal('41.61'), Decimal('88780.00'), Decimal('18.12'))
('Northern Africa and Western Asia', 'Western Asia', 'Jordan', 2018, Decimal('98.33'), Decimal('96.67'), Decimal('10.459865'), Decimal('43.37'), Decimal('88780.00'), Decimal('18.26'))
('Northern Africa and Western Asia', 'Western Asia', 'Jordan', 2019, Decimal('98.33'), Decimal('96.33'), Decimal('10.698683'), Decimal('44.99'), Decimal('88794.00'), Decimal('16.80'))
('Northern Africa and Western Asia', 'Western Asia', 'Jordan', 2020, Decimal('98.33'), Decimal('96.33'), Decimal('10.928721'), Decimal('44.18'), Decimal('88794.00'), Decimal('19.21'))
('Northern Africa and Western Asia', 'Western Asia', 'Kuwait', 2015, Decimal('100.00'), Decimal('100.00'), Decimal('3.908743'), Decimal('114.57'), Decimal('17820.00'), Decimal('2.20'))
('Northern Africa and Western Asia', 'Western Asia', 'Kuwait', 2016, Decimal('100.00'), Decimal('100.00'), Decimal('4.048085'), Decimal('109.42'), Decimal('17820.00'), Decimal('2.16'))
('Northern Africa and Western Asia', 'Western Asia', 'Kuwait', 2017, Decimal('100.00'), Decimal('100.00'), Decimal('4.124904'), Decimal('120.71'), Decimal('17820.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Kuwait', 2018, Decimal('100.00'), Decimal('100.00'), Decimal('4.317185'), Decimal('138.18'), Decimal('17820.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Kuwait', 2019, Decimal('100.00'), Decimal('100.00'), Decimal('4.441100'), Decimal('136.20'), Decimal('17820.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Kuwait', 2020, Decimal('100.00'), Decimal('100.00'), Decimal('4.360444'), Decimal('105.96'), Decimal('17820.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Lebanon', 2015, Decimal('91.00'), Decimal('94.00'), Decimal('6.398940'), Decimal('49.93'), Decimal('10230.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Lebanon', 2016, Decimal('92.00'), Decimal('95.00'), Decimal('6.258619'), Decimal('51.15'), Decimal('10230.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Lebanon', 2017, Decimal('92.00'), Decimal('97.00'), Decimal('6.109252'), Decimal('53.03'), Decimal('10230.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Lebanon', 2018, Decimal('92.00'), Decimal('98.00'), Decimal('5.950839'), Decimal('54.90'), Decimal('10230.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Lebanon', 2019, Decimal('93.00'), Decimal('99.00'), Decimal('5.781907'), Decimal('51.95'), Decimal('10230.00'), Decimal('11.30'))
('Northern Africa and Western Asia', 'Western Asia', 'Lebanon', 2020, Decimal('93.00'), Decimal('99.00'), Decimal('5.662923'), Decimal('31.71'), Decimal('10230.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Oman', 2015, Decimal('86.00'), Decimal('99.00'), Decimal('4.191776'), Decimal('78.71'), Decimal('309500.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Oman', 2016, Decimal('86.67'), Decimal('99.00'), Decimal('4.398070'), Decimal('75.13'), Decimal('309500.00'), Decimal('3.27'))
('Northern Africa and Western Asia', 'Western Asia', 'Oman', 2017, Decimal('86.67'), Decimal('99.00'), Decimal('4.541854'), Decimal('80.86'), Decimal('309500.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Oman', 2018, Decimal('87.00'), Decimal('99.00'), Decimal('4.601157'), Decimal('91.51'), Decimal('309500.00'), Decimal('1.80'))
('Northern Africa and Western Asia', 'Western Asia', 'Oman', 2019, Decimal('87.67'), Decimal('99.00'), Decimal('4.602768'), Decimal('88.06'), Decimal('309500.00'), None)
('Northern Africa and Western Asia', 'Western Asia', 'Oman', 2020, Decimal('87.67'), Decimal('99.00'), Decimal('4.543399'), Decimal('75.91'), Decimal('309500.00'), Decimal('2.94'))
('Northern Africa and Western Asia', 'Western Asia', 'Qatar', 2015, Decimal('100.00'), Decimal('100.00'), Decimal('2.414573'), Decimal('161.74'), Decimal('11490.00'), Decimal('0.17'))
('Northern Africa and Western Asia', 'Western Asia', 'Qatar', 2016, Decimal('100.00'), Decimal('100.00'), Decimal('2.595166'), Decimal('151.73'), Decimal('11490.00'), Decimal('0.15'))
('Northern Africa and Western Asia', 'Western Asia', 'Qatar', 2017, Decimal('100.00'), Decimal('100.00'), Decimal('2.711755'), Decimal('161.10'), Decimal('11490.00'), Decimal('0.14'))
('Northern Africa and Western Asia', 'Western Asia', 'Qatar', 2018, Decimal('100.00'), Decimal('100.00'), Decimal('2.766732'), Decimal('183.33'), Decimal('11490.00'), Decimal('0.11'))
('Northern Africa and Western Asia', 'Western Asia', 'Qatar', 2019, Decimal('100.00'), Decimal('100.00'), Decimal('2.807235'), Decimal('175.84'), Decimal('11490.00'), Decimal('0.10'))
('Northern Africa and Western Asia', 'Western Asia', 'Qatar', 2020, Decimal('100.00'), Decimal('100.00'), Decimal('2.760385'), Decimal('144.41'), Decimal('11490.00'), Decimal('0.14'))
('Northern Africa and Western Asia', 'Western Asia', 'Saudi Arabia', 2015, Decimal('100.00'), Decimal('100.00'), Decimal('32.749848'), Decimal('654.27'), Decimal('2149690.00'), Decimal('5.60'))
('Northern Africa and Western Asia', 'Western Asia', 'Saudi Arabia', 2016, Decimal('100.00'), Decimal('100.00'), Decimal('33.416270'), Decimal('644.94'), Decimal('2149690.00'), Decimal('5.60'))
('Northern Africa and Western Asia', 'Western Asia', 'Saudi Arabia', 2017, Decimal('100.00'), Decimal('100.00'), Decimal('34.193122'), Decimal('688.59'), Decimal('2149690.00'), Decimal('5.89'))
('Northern Africa and Western Asia', 'Western Asia', 'Saudi Arabia', 2018, Decimal('100.00'), Decimal('100.00'), Decimal('35.018133'), Decimal('816.58'), Decimal('2149690.00'), Decimal('6.03'))

In [15]:
# Add your code here
% SELECT * FROM access_to_basic_services 
  WHERE Region LIKE '%Africa%';

SyntaxError: invalid syntax (3432218904.py, line 3)

### 2. Classify SADC countries

Use a `CASE` statement to classify whether an African country belongs to SADC, or does not belong to SADC. In other words, if the `country_name` is one of the names we specified as an SADC country (in the table above), it should be classified as SADC. Otherwise, it must be classified as  `Not Classified`.

The query should return three columns:
- An alias, `Regional_economic_community`, that contains the results of the `CASE` statement
- `Country_name`
- `Pct_managed_drinking_water_services`

In [17]:
import mysql.connector

# Establishing a connection to the database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1808",
    database="united_nations"


)

# Creating a cursor object
cursor = mydb.cursor()

# Executing the query
query = """
SELECT 
    CASE 
        WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of the Congo', 
                              'Eswatini', 'Lesotho', 'Madagascar', 'Malawi', 
                              'Mauritius', 'Mozambique', 'Namibia', 'Seychelles', 
                              'South Africa', 'Tanzania', 'Zambia', 'Zimbabwe') 
        THEN 'SADC'
        ELSE 'Not Classified'
    END AS Regional_economic_community,
    Country_name,
    Pct_managed_drinking_water_services
FROM 
    access_to_basic_services
WHERE 
    Region LIKE '%Africa%';
"""

cursor.execute(query)

# Fetching and printing the results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Closing the cursor and connection
cursor.close()
mydb.close()

('Not Classified', 'Algeria', Decimal('92.00'))
('Not Classified', 'Algeria', Decimal('93.00'))
('Not Classified', 'Algeria', Decimal('93.00'))
('Not Classified', 'Algeria', Decimal('93.00'))
('Not Classified', 'Algeria', Decimal('93.33'))
('Not Classified', 'Algeria', Decimal('93.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Libya', Decimal('97.00'))
('Not Classified', 'Libya', Decimal('98.00'))
('Not Classified', 'Libya', Decimal('99.00'))
('Not Classified', 'Libya', Decimal('100.00'))
('Not Classified', 'Libya', Decimal('100.00'))
('Not Classified', 'Libya', Decimal('100.00'))
('Not Classified', 'Morocco', Decimal('81.33'))
('Not Classified', 'Morocco', Decimal('83.00'))
('Not Classified', 'Morocco', Decimal('84.00'))
('Not Classified', 'Morocco', Decimal('85.67'))
('Not Classified', 'Morocco', Decimal('87.33'))
('Not Classified', 'Morocco', Decimal('88.33'))
('Not Classified', 'Sudan', Decimal('61.33'))
('Not Classified', 'Sudan', Decimal('62.33'))
('Not Classified', 'Sudan', Decimal('62.33'))
('Not Classified', 'Sudan', Decimal('62.33'))
('Not Classified', 'Sudan', Decimal('62.33'))
('Not Classified', 'Sudan', Decimal('62.33'))
('Not Classified', 'Tunisia', Decimal('93.33'))
('Not Classified', 'Tunisia', Decimal('93.67'))
('Not Classified', 'Tunisia', Decimal('94.67'))
('Not Classified', 'Tunisia', Decimal('95.67'))
('Not Classified', 'Tunisia', Decimal('96.00'))
('Not Classified', 'Tunisia', Decimal('97.00'))
('Not Classified', 'Armenia', Decimal('99.67'))
('Not Classified', 'Armenia', Decimal('99.67'))
('Not Classified', 'Armenia', Decimal('100.00'))
('Not Classified', 'Armenia', Decimal('100.00'))
('Not Classified', 'Armenia', Decimal('100.00'))
('Not Classified', 'Armenia', Decimal('100.00'))
('Not Classified', 'Azerbaijan', Decimal('91.67'))
('Not Classified', 'Azerbaijan', Decimal('92.33'))
('Not Classified', 'Azerbaijan', Decimal('93.67'))
('Not Classified', 'Azerbaijan', Decimal('94.33'))
('Not Classified', 'Azerbaijan', Decimal('95.00'))
('Not Classified', 'Azerbaijan', Decimal('95.67'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Georgia', Decimal('95.33'))
('Not Classified', 'Georgia', Decimal('96.00'))
('Not Classified', 'Georgia', Decimal('96.67'))
('Not Classified', 'Georgia', Decimal('96.67'))
('Not Classified', 'Georgia', Decimal('96.67'))
('Not Classified', 'Georgia', Decimal('96.67'))
('Not Classified', 'Iraq', Decimal('92.33'))
('Not Classified', 'Iraq', Decimal('93.67'))
('Not Classified', 'Iraq', Decimal('94.67'))
('Not Classified', 'Iraq', Decimal('95.67'))
('Not Classified', 'Iraq', Decimal('97.00'))
('Not Classified', 'Iraq', Decimal('97.67'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Lebanon', Decimal('91.00'))
('Not Classified', 'Lebanon', Decimal('92.00'))
('Not Classified', 'Lebanon', Decimal('92.00'))
('Not Classified', 'Lebanon', Decimal('92.00'))
('Not Classified', 'Lebanon', Decimal('93.00'))
('Not Classified', 'Lebanon', Decimal('93.00'))
('Not Classified', 'Oman', Decimal('86.00'))
('Not Classified', 'Oman', Decimal('86.67'))
('Not Classified', 'Oman', Decimal('86.67'))
('Not Classified', 'Oman', Decimal('87.00'))
('Not Classified', 'Oman', Decimal('87.67'))
('Not Classified', 'Oman', Decimal('87.67'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'State of Palestine', Decimal('96.00'))
('Not Classified', 'State of Palestine', Decimal('96.67'))
('Not Classified', 'State of Palestine', Decimal('97.00'))
('Not Classified', 'State of Palestine', Decimal('97.00'))
('Not Classified', 'State of Palestine', Decimal('97.67'))
('Not Classified', 'State of Palestine', Decimal('98.33'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.33'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.67'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.67'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.67'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.67'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.67'))
('Not Classified', 'Türkiye', Decimal('95.67'))
('Not Classified', 'Türkiye', Decimal('96.00'))
('Not Classified', 'Türkiye', Decimal('96.33'))
('Not Classified', 'Türkiye', Decimal('96.33'))
('Not Classified', 'Türkiye', Decimal('96.67'))
('Not Classified', 'Türkiye', Decimal('96.67'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'Yemen', Decimal('59.00'))
('Not Classified', 'Yemen', Decimal('59.67'))
('Not Classified', 'Yemen', Decimal('60.33'))
('Not Classified', 'Yemen', Decimal('61.33'))
('Not Classified', 'Yemen', Decimal('62.33'))
('Not Classified', 'Yemen', Decimal('63.00'))
('Not Classified', 'Burundi', Decimal('68.33'))
('Not Classified', 'Burundi', Decimal('68.33'))
('Not Classified', 'Burundi', Decimal('69.33'))
('Not Classified', 'Burundi', Decimal('69.33'))
('Not Classified', 'Burundi', Decimal('70.33'))
('Not Classified', 'Burundi', Decimal('70.33'))
('SADC', 'Comoros', Decimal('81.67'))
('SADC', 'Comoros', Decimal('81.67'))
('SADC', 'Comoros', Decimal('81.67'))
('SADC', 'Comoros', Decimal('81.67'))
('SADC', 'Comoros', Decimal('81.67'))
('Not Classified', 'Djibouti', Decimal('69.67'))
('Not Classified', 'Djibouti', Decimal('69.33'))
('Not Classified', 'Djibouti', Decimal('69.33'))
('Not Classified', 'Djibouti', Decimal('69.33'))
('Not Classified', 'Djibouti', Decimal('69.00'))
('Not Classified', 'Djibouti', Decimal('69.00'))
('Not Classified', 'Eritrea', Decimal('56.33'))
('Not Classified', 'Eritrea', Decimal('56.67'))
('Not Classified', 'Ethiopia', Decimal('52.00'))
('Not Classified', 'Ethiopia', Decimal('53.33'))
('Not Classified', 'Ethiopia', Decimal('54.67'))
('Not Classified', 'Ethiopia', Decimal('55.67'))
('Not Classified', 'Ethiopia', Decimal('57.00'))
('Not Classified', 'Ethiopia', Decimal('58.00'))
('Not Classified', 'Kenya', Decimal('64.33'))
('Not Classified', 'Kenya', Decimal('65.00'))
('Not Classified', 'Kenya', Decimal('65.67'))
('Not Classified', 'Kenya', Decimal('65.67'))
('Not Classified', 'Kenya', Decimal('66.33'))
('Not Classified', 'Kenya', Decimal('67.00'))
('SADC', 'Madagascar', Decimal('53.33'))
('SADC', 'Madagascar', Decimal('54.00'))
('SADC', 'Madagascar', Decimal('54.67'))
('SADC', 'Madagascar', Decimal('55.33'))
('SADC', 'Madagascar', Decimal('56.00'))
('SADC', 'Madagascar', Decimal('56.33'))
('SADC', 'Malawi', Decimal('71.33'))
('SADC', 'Malawi', Decimal('72.00'))
('SADC', 'Malawi', Decimal('72.67'))
('SADC', 'Malawi', Decimal('73.33'))
('SADC', 'Malawi', Decimal('73.67'))
('SADC', 'Malawi', Decimal('74.33'))
('SADC', 'Mauritius', Decimal('100.00'))
('SADC', 'Mauritius', Decimal('100.00'))
('SADC', 'Mauritius', Decimal('100.00'))
('SADC', 'Mauritius', Decimal('100.00'))
('SADC', 'Mauritius', Decimal('100.00'))
('SADC', 'Mauritius', Decimal('100.00'))
('Not Classified', 'Mayotte', Decimal('97.00'))
('Not Classified', 'Mayotte', Decimal('97.00'))
('Not Classified', 'Mayotte', Decimal('97.00'))
('Not Classified', 'Mayotte', Decimal('96.00'))
('Not Classified', 'Mayotte', Decimal('96.00'))
('Not Classified', 'Mayotte', Decimal('96.00'))
('SADC', 'Mozambique', Decimal('55.67'))
('SADC', 'Mozambique', Decimal('58.00'))
('SADC', 'Mozambique', Decimal('60.00'))
('SADC', 'Mozambique', Decimal('62.33'))
('SADC', 'Mozambique', Decimal('64.33'))
('SADC', 'Mozambique', Decimal('66.67'))
('Not Classified', 'Rwanda', Decimal('63.00'))
('Not Classified', 'Rwanda', Decimal('64.00'))
('Not Classified', 'Rwanda', Decimal('65.00'))
('Not Classified', 'Rwanda', Decimal('65.67'))
('Not Classified', 'Rwanda', Decimal('66.33'))
('Not Classified', 'Rwanda', Decimal('66.33'))
('Not Classified', 'Réunion', Decimal('100.00'))
('Not Classified', 'Réunion', Decimal('100.00'))
('Not Classified', 'Réunion', Decimal('100.00'))
('Not Classified', 'Réunion', Decimal('100.00'))
('Not Classified', 'Réunion', Decimal('100.00'))
('Not Classified', 'Réunion', Decimal('100.00'))
('SADC', 'Seychelles', Decimal('96.00'))
('SADC', 'Seychelles', Decimal('96.00'))
('SADC', 'Seychelles', Decimal('96.00'))
('SADC', 'Seychelles', Decimal('96.00'))
('SADC', 'Seychelles', Decimal('97.00'))
('Not Classified', 'Somalia', Decimal('50.67'))
('Not Classified', 'Somalia', Decimal('52.00'))
('Not Classified', 'Somalia', Decimal('53.33'))
('Not Classified', 'Somalia', Decimal('54.67'))
('Not Classified', 'Somalia', Decimal('56.33'))
('Not Classified', 'Somalia', Decimal('57.33'))
('Not Classified', 'South Sudan', Decimal('46.33'))
('Not Classified', 'South Sudan', Decimal('46.67'))
('Not Classified', 'South Sudan', Decimal('47.00'))
('Not Classified', 'South Sudan', Decimal('47.67'))
('Not Classified', 'South Sudan', Decimal('48.33'))
('Not Classified', 'South Sudan', Decimal('48.33'))
('Not Classified', 'Uganda', Decimal('55.00'))
('Not Classified', 'Uganda', Decimal('55.67'))
('Not Classified', 'Uganda', Decimal('57.00'))
('Not Classified', 'Uganda', Decimal('58.67'))
('Not Classified', 'Uganda', Decimal('59.33'))
('Not Classified', 'Uganda', Decimal('61.00'))
('Not Classified', 'United Republic of Tanzania', Decimal('58.33'))
('Not Classified', 'United Republic of Tanzania', Decimal('60.00'))
('Not Classified', 'United Republic of Tanzania', Decimal('61.67'))
('Not Classified', 'United Republic of Tanzania', Decimal('63.33'))
('Not Classified', 'United Republic of Tanzania', Decimal('64.67'))
('Not Classified', 'United Republic of Tanzania', Decimal('65.00'))
('SADC', 'Zambia', Decimal('63.67'))
('SADC', 'Zambia', Decimal('64.33'))
('SADC', 'Zambia', Decimal('64.67'))
('SADC', 'Zambia', Decimal('65.33'))
('SADC', 'Zambia', Decimal('66.33'))
('SADC', 'Zambia', Decimal('66.67'))
('SADC', 'Zimbabwe', Decimal('70.00'))
('SADC', 'Zimbabwe', Decimal('69.33'))
('SADC', 'Zimbabwe', Decimal('69.00'))
('SADC', 'Zimbabwe', Decimal('68.67'))
('SADC', 'Zimbabwe', Decimal('68.33'))
('SADC', 'Zimbabwe', Decimal('68.00'))
('SADC', 'Angola', Decimal('50.33'))
('SADC', 'Angola', Decimal('51.00'))
('SADC', 'Angola', Decimal('51.33'))
('SADC', 'Angola', Decimal('52.33'))
('SADC', 'Angola', Decimal('52.33'))
('SADC', 'Angola', Decimal('52.33'))
('Not Classified', 'Cameroon', Decimal('62.67'))
('Not Classified', 'Cameroon', Decimal('62.67'))
('Not Classified', 'Cameroon', Decimal('63.33'))
('Not Classified', 'Cameroon', Decimal('63.33'))
('Not Classified', 'Cameroon', Decimal('63.33'))
('Not Classified', 'Cameroon', Decimal('64.00'))
('Not Classified', 'Central African Republic', Decimal('44.00'))
('Not Classified', 'Central African Republic', Decimal('42.67'))
('Not Classified', 'Central African Republic', Decimal('41.33'))
('Not Classified', 'Central African Republic', Decimal('40.67'))
('Not Classified', 'Central African Republic', Decimal('39.33'))
('Not Classified', 'Central African Republic', Decimal('38.33'))
('Not Classified', 'Chad', Decimal('51.67'))
('Not Classified', 'Chad', Decimal('52.00'))
('Not Classified', 'Chad', Decimal('52.00'))
('Not Classified', 'Chad', Decimal('52.00'))
('Not Classified', 'Chad', Decimal('52.33'))
('Not Classified', 'Chad', Decimal('52.67'))
('Not Classified', 'Congo', Decimal('66.33'))
('Not Classified', 'Congo', Decimal('67.67'))
('Not Classified', 'Congo', Decimal('68.67'))
('Not Classified', 'Congo', Decimal('68.67'))
('Not Classified', 'Congo', Decimal('69.00'))
('Not Classified', 'Congo', Decimal('69.00'))
('SADC', 'Democratic Republic of the Congo', Decimal('45.33'))
('SADC', 'Democratic Republic of the Congo', Decimal('45.67'))
('SADC', 'Democratic Republic of the Congo', Decimal('46.00'))
('SADC', 'Democratic Republic of the Congo', Decimal('46.67'))
('SADC', 'Democratic Republic of the Congo', Decimal('47.00'))
('SADC', 'Democratic Republic of the Congo', Decimal('47.67'))
('Not Classified', 'Equatorial Guinea', Decimal('57.67'))
('Not Classified', 'Equatorial Guinea', Decimal('57.67'))
('Not Classified', 'Equatorial Guinea', Decimal('58.00'))
('Not Classified', 'Gabon', Decimal('72.00'))
('Not Classified', 'Gabon', Decimal('72.33'))
('Not Classified', 'Gabon', Decimal('73.00'))
('Not Classified', 'Gabon', Decimal('73.00'))
('Not Classified', 'Gabon', Decimal('73.33'))
('Not Classified', 'Gabon', Decimal('73.33'))
('Not Classified', 'Sao Tome and Principe', Decimal('76.00'))
('Not Classified', 'Sao Tome and Principe', Decimal('76.67'))
('Not Classified', 'Sao Tome and Principe', Decimal('77.00'))
('Not Classified', 'Sao Tome and Principe', Decimal('77.00'))
('Not Classified', 'Sao Tome and Principe', Decimal('77.33'))
('Not Classified', 'Sao Tome and Principe', Decimal('77.33'))
('SADC', 'Botswana', Decimal('85.67'))
('SADC', 'Botswana', Decimal('86.67'))
('SADC', 'Botswana', Decimal('87.67'))
('SADC', 'Botswana', Decimal('88.33'))
('SADC', 'Botswana', Decimal('89.67'))
('SADC', 'Botswana', Decimal('89.67'))
('SADC', 'Eswatini', Decimal('73.33'))
('SADC', 'Eswatini', Decimal('74.00'))
('SADC', 'Eswatini', Decimal('75.00'))
('SADC', 'Eswatini', Decimal('75.67'))
('SADC', 'Eswatini', Decimal('76.67'))
('SADC', 'Eswatini', Decimal('76.67'))
('SADC', 'Lesotho', Decimal('74.67'))
('SADC', 'Lesotho', Decimal('75.00'))
('SADC', 'Lesotho', Decimal('75.33'))
('SADC', 'Lesotho', Decimal('76.00'))
('SADC', 'Lesotho', Decimal('76.00'))
('SADC', 'Lesotho', Decimal('76.33'))
('SADC', 'Namibia', Decimal('83.33'))
('SADC', 'Namibia', Decimal('83.00'))
('SADC', 'Namibia', Decimal('83.33'))
('SADC', 'Namibia', Decimal('83.67'))
('SADC', 'Namibia', Decimal('83.67'))
('SADC', 'Namibia', Decimal('83.67'))
('SADC', 'South Africa', Decimal('90.00'))
('SADC', 'South Africa', Decimal('90.33'))
('SADC', 'South Africa', Decimal('91.00'))
('SADC', 'South Africa', Decimal('91.33'))
('SADC', 'South Africa', Decimal('91.67'))
('SADC', 'South Africa', Decimal('92.00'))
('Not Classified', 'Benin', Decimal('65.33'))
('Not Classified', 'Benin', Decimal('65.33'))
('Not Classified', 'Benin', Decimal('65.33'))
('Not Classified', 'Benin', Decimal('65.67'))
('Not Classified', 'Benin', Decimal('65.33'))
('Not Classified', 'Benin', Decimal('65.33'))
('Not Classified', 'Burkina Faso', Decimal('56.33'))
('Not Classified', 'Burkina Faso', Decimal('56.00'))
('Not Classified', 'Burkina Faso', Decimal('55.00'))
('Not Classified', 'Burkina Faso', Decimal('54.33'))
('Not Classified', 'Burkina Faso', Decimal('54.00'))
('Not Classified', 'Burkina Faso', Decimal('53.33'))
('Not Classified', 'Cabo Verde', Decimal('83.33'))
('Not Classified', 'Cabo Verde', Decimal('84.33'))
('Not Classified', 'Cabo Verde', Decimal('85.33'))
('Not Classified', 'Cabo Verde', Decimal('86.00'))
('Not Classified', 'Cabo Verde', Decimal('86.67'))
('Not Classified', 'Cabo Verde', Decimal('87.33'))
('Not Classified', "Côte d'Ivoire", Decimal('71.33'))
('Not Classified', "Côte d'Ivoire", Decimal('71.00'))
('Not Classified', "Côte d'Ivoire", Decimal('71.00'))
('Not Classified', "Côte d'Ivoire", Decimal('71.00'))
('Not Classified', "Côte d'Ivoire", Decimal('70.67'))
('Not Classified', "Côte d'Ivoire", Decimal('70.67'))
('Not Classified', 'Gambia', Decimal('78.00'))
('Not Classified', 'Gambia', Decimal('78.33'))
('Not Classified', 'Gambia', Decimal('78.67'))
('Not Classified', 'Gambia', Decimal('78.67'))
('Not Classified', 'Gambia', Decimal('79.33'))
('Not Classified', 'Gambia', Decimal('79.33'))
('Not Classified', 'Ghana', Decimal('79.33'))
('Not Classified', 'Ghana', Decimal('80.33'))
('Not Classified', 'Ghana', Decimal('81.33'))
('Not Classified', 'Ghana', Decimal('82.67'))
('Not Classified', 'Ghana', Decimal('83.67'))
('Not Classified', 'Ghana', Decimal('84.67'))
('Not Classified', 'Guinea', Decimal('67.00'))
('Not Classified', 'Guinea', Decimal('67.00'))
('Not Classified', 'Guinea', Decimal('67.33'))
('Not Classified', 'Guinea', Decimal('67.00'))
('Not Classified', 'Guinea', Decimal('67.00'))
('Not Classified', 'Guinea', Decimal('67.33'))
('Not Classified', 'Guinea-Bissau', Decimal('60.00'))
('Not Classified', 'Guinea-Bissau', Decimal('60.33'))
('Not Classified', 'Guinea-Bissau', Decimal('60.00'))
('Not Classified', 'Guinea-Bissau', Decimal('60.00'))
('Not Classified', 'Guinea-Bissau', Decimal('60.00'))
('Not Classified', 'Guinea-Bissau', Decimal('60.00'))
('Not Classified', 'Liberia', Decimal('72.67'))
('Not Classified', 'Liberia', Decimal('73.00'))
('Not Classified', 'Liberia', Decimal('74.00'))
('Not Classified', 'Liberia', Decimal('74.00'))
('Not Classified', 'Liberia', Decimal('75.00'))
('Not Classified', 'Liberia', Decimal('75.00'))
('Not Classified', 'Mali', Decimal('76.00'))
('Not Classified', 'Mali', Decimal('77.67'))
('Not Classified', 'Mali', Decimal('79.33'))
('Not Classified', 'Mali', Decimal('80.67'))
('Not Classified', 'Mali', Decimal('82.00'))
('Not Classified', 'Mali', Decimal('83.67'))
('Not Classified', 'Mauritania', Decimal('66.67'))
('Not Classified', 'Mauritania', Decimal('68.33'))
('Not Classified', 'Mauritania', Decimal('70.00'))
('Not Classified', 'Mauritania', Decimal('70.00'))
('Not Classified', 'Mauritania', Decimal('70.00'))
('Not Classified', 'Mauritania', Decimal('70.33'))
('Not Classified', 'Niger', Decimal('56.67'))
('Not Classified', 'Niger', Decimal('57.00'))
('Not Classified', 'Niger', Decimal('57.00'))
('Not Classified', 'Niger', Decimal('57.00'))
('Not Classified', 'Niger', Decimal('57.33'))
('Not Classified', 'Niger', Decimal('57.33'))
('Not Classified', 'Nigeria', Decimal('69.00'))
('Not Classified', 'Nigeria', Decimal('71.00'))
('Not Classified', 'Nigeria', Decimal('72.33'))
('Not Classified', 'Nigeria', Decimal('74.00'))
('Not Classified', 'Nigeria', Decimal('75.67'))
('Not Classified', 'Nigeria', Decimal('77.33'))

In [20]:
# Add your code here

### 3. Classify UMA and ECOWAS countries

Add to the `CASE` statement to include classifications for the UMA and ECOWAS RECS. Classify the countries based on the table above.

In [27]:
import mysql.connector

# Establishing a connection to the database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1808",
    database="united_nations"


)
# Creating a cursor object
cursor = mydb.cursor()

# Executing the query
query = """
SELECT 
    CASE 
        WHEN Country_name IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia') 
        THEN 'UMA'
        WHEN Country_name IN ('Benin', 'Burkina Faso', 'Cape Verde', 'Ivory Coast', 
                              'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 
                              'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 
                              'Sierra Leone', 'Togo')
        THEN 'ECOWAS'
        WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of the Congo', 
                              'Eswatini', 'Lesotho', 'Madagascar', 'Malawi', 
                              'Mauritius', 'Mozambique', 'Namibia', 'Seychelles', 
                              'South Africa', 'Tanzania', 'Zambia', 'Zimbabwe') 
        THEN 'SADC'
        ELSE 'Not Classified'
    END AS Regional_economic_community,
    Country_name,
    Pct_managed_drinking_water_services
FROM 
    access_to_basic_services
WHERE 
    Region LIKE '%Africa%';
"""

cursor.execute(query)

# Fetching and printing the results
rows = cursor.fetchall()
for row in rows:
    print(row)

# Closing the cursor and connection
cursor.close()
mydb.close()

('UMA', 'Algeria', Decimal('92.00'))
('UMA', 'Algeria', Decimal('93.00'))
('UMA', 'Algeria', Decimal('93.00'))
('UMA', 'Algeria', Decimal('93.00'))
('UMA', 'Algeria', Decimal('93.33'))
('UMA', 'Algeria', Decimal('93.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('Not Classified', 'Egypt', Decimal('99.33'))
('UMA', 'Libya', Decimal('97.00'))
('UMA', 'Libya', Decimal('98.00'))
('UMA', 'Libya', Decimal('99.00'))
('UMA', 'Libya', Decimal('100.00'))
('UMA', 'Libya', Decimal('100.00'))
('UMA', 'Libya', Decimal('100.00'))
('UMA', 'Morocco', Decimal('81.33'))
('UMA', 'Morocco', Decimal('83.00'))
('UMA', 'Morocco', Decimal('84.00'))
('UMA', 'Morocco', Decimal('85.67'))
('UMA', 'Morocco', Decimal('87.33'))
('UMA', 'Morocco', Decimal('88.33'))
('Not Classified', 'Sudan', Decimal('61.33'))
('Not Classified', 'Sudan', Decimal('62.33'))
('Not Classified', 'Sudan', Decimal('62.33'))
('Not Classified', 'Sudan', Decimal('62.33'))
('Not Classified', 'Sudan', Decimal('62.33'))
('Not Classified', 'Sudan', Decimal('62.33'))
('UMA', 'Tunisia', Decimal('93.33'))
('UMA', 'Tunisia', Decimal('93.67'))
('UMA', 'Tunisia', Decimal('94.67'))
('UMA', 'Tunisia', Decimal('95.67'))
('UMA', 'Tunisia', Decimal('96.00'))
('UMA', 'Tunisia', Decimal('97.00'))
('Not Classified', 'Armenia', Decimal('99.67'))
('Not Classified', 'Armenia', Decimal('99.67'))
('Not Classified', 'Armenia', Decimal('100.00'))
('Not Classified', 'Armenia', Decimal('100.00'))
('Not Classified', 'Armenia', Decimal('100.00'))
('Not Classified', 'Armenia', Decimal('100.00'))
('Not Classified', 'Azerbaijan', Decimal('91.67'))
('Not Classified', 'Azerbaijan', Decimal('92.33'))
('Not Classified', 'Azerbaijan', Decimal('93.67'))
('Not Classified', 'Azerbaijan', Decimal('94.33'))
('Not Classified', 'Azerbaijan', Decimal('95.00'))
('Not Classified', 'Azerbaijan', Decimal('95.67'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Bahrain', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Cyprus', Decimal('100.00'))
('Not Classified', 'Georgia', Decimal('95.33'))
('Not Classified', 'Georgia', Decimal('96.00'))
('Not Classified', 'Georgia', Decimal('96.67'))
('Not Classified', 'Georgia', Decimal('96.67'))
('Not Classified', 'Georgia', Decimal('96.67'))
('Not Classified', 'Georgia', Decimal('96.67'))
('Not Classified', 'Iraq', Decimal('92.33'))
('Not Classified', 'Iraq', Decimal('93.67'))
('Not Classified', 'Iraq', Decimal('94.67'))
('Not Classified', 'Iraq', Decimal('95.67'))
('Not Classified', 'Iraq', Decimal('97.00'))
('Not Classified', 'Iraq', Decimal('97.67'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Israel', Decimal('100.00'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Jordan', Decimal('98.33'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Kuwait', Decimal('100.00'))
('Not Classified', 'Lebanon', Decimal('91.00'))
('Not Classified', 'Lebanon', Decimal('92.00'))
('Not Classified', 'Lebanon', Decimal('92.00'))
('Not Classified', 'Lebanon', Decimal('92.00'))
('Not Classified', 'Lebanon', Decimal('93.00'))
('Not Classified', 'Lebanon', Decimal('93.00'))
('Not Classified', 'Oman', Decimal('86.00'))
('Not Classified', 'Oman', Decimal('86.67'))
('Not Classified', 'Oman', Decimal('86.67'))
('Not Classified', 'Oman', Decimal('87.00'))
('Not Classified', 'Oman', Decimal('87.67'))
('Not Classified', 'Oman', Decimal('87.67'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Qatar', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'Saudi Arabia', Decimal('100.00'))
('Not Classified', 'State of Palestine', Decimal('96.00'))
('Not Classified', 'State of Palestine', Decimal('96.67'))
('Not Classified', 'State of Palestine', Decimal('97.00'))
('Not Classified', 'State of Palestine', Decimal('97.00'))
('Not Classified', 'State of Palestine', Decimal('97.67'))
('Not Classified', 'State of Palestine', Decimal('98.33'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.33'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.67'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.67'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.67'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.67'))
('Not Classified', 'Syrian Arab Republic', Decimal('93.67'))
('Not Classified', 'Türkiye', Decimal('95.67'))
('Not Classified', 'Türkiye', Decimal('96.00'))
('Not Classified', 'Türkiye', Decimal('96.33'))
('Not Classified', 'Türkiye', Decimal('96.33'))
('Not Classified', 'Türkiye', Decimal('96.67'))
('Not Classified', 'Türkiye', Decimal('96.67'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'United Arab Emirates', Decimal('100.00'))
('Not Classified', 'Yemen', Decimal('59.00'))
('Not Classified', 'Yemen', Decimal('59.67'))
('Not Classified', 'Yemen', Decimal('60.33'))
('Not Classified', 'Yemen', Decimal('61.33'))
('Not Classified', 'Yemen', Decimal('62.33'))
('Not Classified', 'Yemen', Decimal('63.00'))
('Not Classified', 'Burundi', Decimal('68.33'))
('Not Classified', 'Burundi', Decimal('68.33'))
('Not Classified', 'Burundi', Decimal('69.33'))
('Not Classified', 'Burundi', Decimal('69.33'))
('Not Classified', 'Burundi', Decimal('70.33'))
('Not Classified', 'Burundi', Decimal('70.33'))
('SADC', 'Comoros', Decimal('81.67'))
('SADC', 'Comoros', Decimal('81.67'))
('SADC', 'Comoros', Decimal('81.67'))
('SADC', 'Comoros', Decimal('81.67'))
('SADC', 'Comoros', Decimal('81.67'))
('Not Classified', 'Djibouti', Decimal('69.67'))
('Not Classified', 'Djibouti', Decimal('69.33'))
('Not Classified', 'Djibouti', Decimal('69.33'))
('Not Classified', 'Djibouti', Decimal('69.33'))
('Not Classified', 'Djibouti', Decimal('69.00'))
('Not Classified', 'Djibouti', Decimal('69.00'))
('Not Classified', 'Eritrea', Decimal('56.33'))
('Not Classified', 'Eritrea', Decimal('56.67'))
('Not Classified', 'Ethiopia', Decimal('52.00'))
('Not Classified', 'Ethiopia', Decimal('53.33'))
('Not Classified', 'Ethiopia', Decimal('54.67'))
('Not Classified', 'Ethiopia', Decimal('55.67'))
('Not Classified', 'Ethiopia', Decimal('57.00'))
('Not Classified', 'Ethiopia', Decimal('58.00'))
('Not Classified', 'Kenya', Decimal('64.33'))
('Not Classified', 'Kenya', Decimal('65.00'))
('Not Classified', 'Kenya', Decimal('65.67'))
('Not Classified', 'Kenya', Decimal('65.67'))
('Not Classified', 'Kenya', Decimal('66.33'))
('Not Classified', 'Kenya', Decimal('67.00'))
('SADC', 'Madagascar', Decimal('53.33'))
('SADC', 'Madagascar', Decimal('54.00'))
('SADC', 'Madagascar', Decimal('54.67'))
('SADC', 'Madagascar', Decimal('55.33'))
('SADC', 'Madagascar', Decimal('56.00'))
('SADC', 'Madagascar', Decimal('56.33'))
('SADC', 'Malawi', Decimal('71.33'))
('SADC', 'Malawi', Decimal('72.00'))
('SADC', 'Malawi', Decimal('72.67'))
('SADC', 'Malawi', Decimal('73.33'))
('SADC', 'Malawi', Decimal('73.67'))
('SADC', 'Malawi', Decimal('74.33'))
('SADC', 'Mauritius', Decimal('100.00'))
('SADC', 'Mauritius', Decimal('100.00'))
('SADC', 'Mauritius', Decimal('100.00'))
('SADC', 'Mauritius', Decimal('100.00'))
('SADC', 'Mauritius', Decimal('100.00'))
('SADC', 'Mauritius', Decimal('100.00'))
('Not Classified', 'Mayotte', Decimal('97.00'))
('Not Classified', 'Mayotte', Decimal('97.00'))
('Not Classified', 'Mayotte', Decimal('97.00'))
('Not Classified', 'Mayotte', Decimal('96.00'))
('Not Classified', 'Mayotte', Decimal('96.00'))
('Not Classified', 'Mayotte', Decimal('96.00'))
('SADC', 'Mozambique', Decimal('55.67'))
('SADC', 'Mozambique', Decimal('58.00'))
('SADC', 'Mozambique', Decimal('60.00'))
('SADC', 'Mozambique', Decimal('62.33'))
('SADC', 'Mozambique', Decimal('64.33'))
('SADC', 'Mozambique', Decimal('66.67'))
('Not Classified', 'Rwanda', Decimal('63.00'))
('Not Classified', 'Rwanda', Decimal('64.00'))
('Not Classified', 'Rwanda', Decimal('65.00'))
('Not Classified', 'Rwanda', Decimal('65.67'))
('Not Classified', 'Rwanda', Decimal('66.33'))
('Not Classified', 'Rwanda', Decimal('66.33'))
('Not Classified', 'Réunion', Decimal('100.00'))
('Not Classified', 'Réunion', Decimal('100.00'))
('Not Classified', 'Réunion', Decimal('100.00'))
('Not Classified', 'Réunion', Decimal('100.00'))
('Not Classified', 'Réunion', Decimal('100.00'))
('Not Classified', 'Réunion', Decimal('100.00'))
('SADC', 'Seychelles', Decimal('96.00'))
('SADC', 'Seychelles', Decimal('96.00'))
('SADC', 'Seychelles', Decimal('96.00'))
('SADC', 'Seychelles', Decimal('96.00'))
('SADC', 'Seychelles', Decimal('97.00'))
('Not Classified', 'Somalia', Decimal('50.67'))
('Not Classified', 'Somalia', Decimal('52.00'))
('Not Classified', 'Somalia', Decimal('53.33'))
('Not Classified', 'Somalia', Decimal('54.67'))
('Not Classified', 'Somalia', Decimal('56.33'))
('Not Classified', 'Somalia', Decimal('57.33'))
('Not Classified', 'South Sudan', Decimal('46.33'))
('Not Classified', 'South Sudan', Decimal('46.67'))
('Not Classified', 'South Sudan', Decimal('47.00'))
('Not Classified', 'South Sudan', Decimal('47.67'))
('Not Classified', 'South Sudan', Decimal('48.33'))
('Not Classified', 'South Sudan', Decimal('48.33'))
('Not Classified', 'Uganda', Decimal('55.00'))
('Not Classified', 'Uganda', Decimal('55.67'))
('Not Classified', 'Uganda', Decimal('57.00'))
('Not Classified', 'Uganda', Decimal('58.67'))
('Not Classified', 'Uganda', Decimal('59.33'))
('Not Classified', 'Uganda', Decimal('61.00'))
('Not Classified', 'United Republic of Tanzania', Decimal('58.33'))
('Not Classified', 'United Republic of Tanzania', Decimal('60.00'))
('Not Classified', 'United Republic of Tanzania', Decimal('61.67'))
('Not Classified', 'United Republic of Tanzania', Decimal('63.33'))
('Not Classified', 'United Republic of Tanzania', Decimal('64.67'))
('Not Classified', 'United Republic of Tanzania', Decimal('65.00'))
('SADC', 'Zambia', Decimal('63.67'))
('SADC', 'Zambia', Decimal('64.33'))
('SADC', 'Zambia', Decimal('64.67'))
('SADC', 'Zambia', Decimal('65.33'))
('SADC', 'Zambia', Decimal('66.33'))
('SADC', 'Zambia', Decimal('66.67'))
('SADC', 'Zimbabwe', Decimal('70.00'))
('SADC', 'Zimbabwe', Decimal('69.33'))
('SADC', 'Zimbabwe', Decimal('69.00'))
('SADC', 'Zimbabwe', Decimal('68.67'))
('SADC', 'Zimbabwe', Decimal('68.33'))
('SADC', 'Zimbabwe', Decimal('68.00'))
('SADC', 'Angola', Decimal('50.33'))
('SADC', 'Angola', Decimal('51.00'))
('SADC', 'Angola', Decimal('51.33'))
('SADC', 'Angola', Decimal('52.33'))
('SADC', 'Angola', Decimal('52.33'))
('SADC', 'Angola', Decimal('52.33'))
('Not Classified', 'Cameroon', Decimal('62.67'))
('Not Classified', 'Cameroon', Decimal('62.67'))
('Not Classified', 'Cameroon', Decimal('63.33'))
('Not Classified', 'Cameroon', Decimal('63.33'))
('Not Classified', 'Cameroon', Decimal('63.33'))
('Not Classified', 'Cameroon', Decimal('64.00'))
('Not Classified', 'Central African Republic', Decimal('44.00'))
('Not Classified', 'Central African Republic', Decimal('42.67'))
('Not Classified', 'Central African Republic', Decimal('41.33'))
('Not Classified', 'Central African Republic', Decimal('40.67'))
('Not Classified', 'Central African Republic', Decimal('39.33'))
('Not Classified', 'Central African Republic', Decimal('38.33'))
('Not Classified', 'Chad', Decimal('51.67'))
('Not Classified', 'Chad', Decimal('52.00'))
('Not Classified', 'Chad', Decimal('52.00'))
('Not Classified', 'Chad', Decimal('52.00'))
('Not Classified', 'Chad', Decimal('52.33'))
('Not Classified', 'Chad', Decimal('52.67'))
('Not Classified', 'Congo', Decimal('66.33'))
('Not Classified', 'Congo', Decimal('67.67'))
('Not Classified', 'Congo', Decimal('68.67'))
('Not Classified', 'Congo', Decimal('68.67'))
('Not Classified', 'Congo', Decimal('69.00'))
('Not Classified', 'Congo', Decimal('69.00'))
('SADC', 'Democratic Republic of the Congo', Decimal('45.33'))
('SADC', 'Democratic Republic of the Congo', Decimal('45.67'))
('SADC', 'Democratic Republic of the Congo', Decimal('46.00'))
('SADC', 'Democratic Republic of the Congo', Decimal('46.67'))
('SADC', 'Democratic Republic of the Congo', Decimal('47.00'))
('SADC', 'Democratic Republic of the Congo', Decimal('47.67'))
('Not Classified', 'Equatorial Guinea', Decimal('57.67'))
('Not Classified', 'Equatorial Guinea', Decimal('57.67'))
('Not Classified', 'Equatorial Guinea', Decimal('58.00'))
('Not Classified', 'Gabon', Decimal('72.00'))
('Not Classified', 'Gabon', Decimal('72.33'))
('Not Classified', 'Gabon', Decimal('73.00'))
('Not Classified', 'Gabon', Decimal('73.00'))
('Not Classified', 'Gabon', Decimal('73.33'))
('Not Classified', 'Gabon', Decimal('73.33'))
('Not Classified', 'Sao Tome and Principe', Decimal('76.00'))
('Not Classified', 'Sao Tome and Principe', Decimal('76.67'))
('Not Classified', 'Sao Tome and Principe', Decimal('77.00'))
('Not Classified', 'Sao Tome and Principe', Decimal('77.00'))
('Not Classified', 'Sao Tome and Principe', Decimal('77.33'))
('Not Classified', 'Sao Tome and Principe', Decimal('77.33'))
('SADC', 'Botswana', Decimal('85.67'))
('SADC', 'Botswana', Decimal('86.67'))
('SADC', 'Botswana', Decimal('87.67'))
('SADC', 'Botswana', Decimal('88.33'))
('SADC', 'Botswana', Decimal('89.67'))
('SADC', 'Botswana', Decimal('89.67'))
('SADC', 'Eswatini', Decimal('73.33'))
('SADC', 'Eswatini', Decimal('74.00'))
('SADC', 'Eswatini', Decimal('75.00'))
('SADC', 'Eswatini', Decimal('75.67'))
('SADC', 'Eswatini', Decimal('76.67'))
('SADC', 'Eswatini', Decimal('76.67'))
('SADC', 'Lesotho', Decimal('74.67'))
('SADC', 'Lesotho', Decimal('75.00'))
('SADC', 'Lesotho', Decimal('75.33'))
('SADC', 'Lesotho', Decimal('76.00'))
('SADC', 'Lesotho', Decimal('76.00'))
('SADC', 'Lesotho', Decimal('76.33'))
('SADC', 'Namibia', Decimal('83.33'))
('SADC', 'Namibia', Decimal('83.00'))
('SADC', 'Namibia', Decimal('83.33'))
('SADC', 'Namibia', Decimal('83.67'))
('SADC', 'Namibia', Decimal('83.67'))
('SADC', 'Namibia', Decimal('83.67'))
('SADC', 'South Africa', Decimal('90.00'))
('SADC', 'South Africa', Decimal('90.33'))
('SADC', 'South Africa', Decimal('91.00'))
('SADC', 'South Africa', Decimal('91.33'))
('SADC', 'South Africa', Decimal('91.67'))
('SADC', 'South Africa', Decimal('92.00'))
('ECOWAS', 'Benin', Decimal('65.33'))
('ECOWAS', 'Benin', Decimal('65.33'))
('ECOWAS', 'Benin', Decimal('65.33'))
('ECOWAS', 'Benin', Decimal('65.67'))
('ECOWAS', 'Benin', Decimal('65.33'))
('ECOWAS', 'Benin', Decimal('65.33'))
('ECOWAS', 'Burkina Faso', Decimal('56.33'))
('ECOWAS', 'Burkina Faso', Decimal('56.00'))
('ECOWAS', 'Burkina Faso', Decimal('55.00'))
('ECOWAS', 'Burkina Faso', Decimal('54.33'))
('ECOWAS', 'Burkina Faso', Decimal('54.00'))
('ECOWAS', 'Burkina Faso', Decimal('53.33'))
('Not Classified', 'Cabo Verde', Decimal('83.33'))
('Not Classified', 'Cabo Verde', Decimal('84.33'))
('Not Classified', 'Cabo Verde', Decimal('85.33'))
('Not Classified', 'Cabo Verde', Decimal('86.00'))
('Not Classified', 'Cabo Verde', Decimal('86.67'))
('Not Classified', 'Cabo Verde', Decimal('87.33'))
('Not Classified', "Côte d'Ivoire", Decimal('71.33'))
('Not Classified', "Côte d'Ivoire", Decimal('71.00'))
('Not Classified', "Côte d'Ivoire", Decimal('71.00'))
('Not Classified', "Côte d'Ivoire", Decimal('71.00'))
('Not Classified', "Côte d'Ivoire", Decimal('70.67'))
('Not Classified', "Côte d'Ivoire", Decimal('70.67'))
('ECOWAS', 'Gambia', Decimal('78.00'))
('ECOWAS', 'Gambia', Decimal('78.33'))
('ECOWAS', 'Gambia', Decimal('78.67'))
('ECOWAS', 'Gambia', Decimal('78.67'))
('ECOWAS', 'Gambia', Decimal('79.33'))
('ECOWAS', 'Gambia', Decimal('79.33'))
('ECOWAS', 'Ghana', Decimal('79.33'))
('ECOWAS', 'Ghana', Decimal('80.33'))
('ECOWAS', 'Ghana', Decimal('81.33'))
('ECOWAS', 'Ghana', Decimal('82.67'))
('ECOWAS', 'Ghana', Decimal('83.67'))
('ECOWAS', 'Ghana', Decimal('84.67'))
('ECOWAS', 'Guinea', Decimal('67.00'))
('ECOWAS', 'Guinea', Decimal('67.00'))
('ECOWAS', 'Guinea', Decimal('67.33'))
('ECOWAS', 'Guinea', Decimal('67.00'))
('ECOWAS', 'Guinea', Decimal('67.00'))
('ECOWAS', 'Guinea', Decimal('67.33'))
('ECOWAS', 'Guinea-Bissau', Decimal('60.00'))
('ECOWAS', 'Guinea-Bissau', Decimal('60.33'))
('ECOWAS', 'Guinea-Bissau', Decimal('60.00'))
('ECOWAS', 'Guinea-Bissau', Decimal('60.00'))
('ECOWAS', 'Guinea-Bissau', Decimal('60.00'))
('ECOWAS', 'Guinea-Bissau', Decimal('60.00'))
('ECOWAS', 'Liberia', Decimal('72.67'))
('ECOWAS', 'Liberia', Decimal('73.00'))
('ECOWAS', 'Liberia', Decimal('74.00'))
('ECOWAS', 'Liberia', Decimal('74.00'))
('ECOWAS', 'Liberia', Decimal('75.00'))
('ECOWAS', 'Liberia', Decimal('75.00'))
('ECOWAS', 'Mali', Decimal('76.00'))
('ECOWAS', 'Mali', Decimal('77.67'))
('ECOWAS', 'Mali', Decimal('79.33'))
('ECOWAS', 'Mali', Decimal('80.67'))
('ECOWAS', 'Mali', Decimal('82.00'))
('ECOWAS', 'Mali', Decimal('83.67'))
('UMA', 'Mauritania', Decimal('66.67'))
('UMA', 'Mauritania', Decimal('68.33'))
('UMA', 'Mauritania', Decimal('70.00'))
('UMA', 'Mauritania', Decimal('70.00'))
('UMA', 'Mauritania', Decimal('70.00'))
('UMA', 'Mauritania', Decimal('70.33'))
('ECOWAS', 'Niger', Decimal('56.67'))
('ECOWAS', 'Niger', Decimal('57.00'))
('ECOWAS', 'Niger', Decimal('57.00'))
('ECOWAS', 'Niger', Decimal('57.00'))
('ECOWAS', 'Niger', Decimal('57.33'))
('ECOWAS', 'Niger', Decimal('57.33'))
('ECOWAS', 'Nigeria', Decimal('69.00'))
('ECOWAS', 'Nigeria', Decimal('71.00'))
('ECOWAS', 'Nigeria', Decimal('72.33'))
('ECOWAS', 'Nigeria', Decimal('74.00'))
('ECOWAS', 'Nigeria', Decimal('75.67'))
('ECOWAS', 'Nigeria', Decimal('77.33'))
('Not Classified', 'Saint Helena', Decimal('99.00'))
('Not Classified', 'Saint Helena', Decimal('99.00'))
('Not Classified', 'Saint Helena', Decimal('99.00'))
('Not Classified', 'Saint Helena', Decimal('99.00'))
('Not Classified', 'Saint Helena', Decimal('99.00'))
('Not Classified', 'Saint Helena', Decimal('99.00'))
('ECOWAS', 'Senegal', Decimal('79.67'))
('ECOWAS', 'Senegal', Decimal('80.67'))
('ECOWAS', 'Senegal', Decimal('81.67'))
('ECOWAS', 'Senegal', Decimal('82.67'))
('ECOWAS', 'Senegal', Decimal('84.00'))
('ECOWAS', 'Senegal', Decimal('85.00'))
('ECOWAS', 'Sierra Leone', Decimal('60.00'))
('ECOWAS', 'Sierra Leone', Decimal('60.67'))
('ECOWAS', 'Sierra Leone', Decimal('61.67'))
('ECOWAS', 'Sierra Leone', Decimal('62.67'))
('ECOWAS', 'Sierra Leone', Decimal('64.00'))
('ECOWAS', 'Sierra Leone', Decimal('65.00'))

In [21]:
# Add your code here

### 4. Calculate the minimum, average, and maximum percentages of managed drinking water services for each REC.

Use the `MIN()`, `AVG()`, and `MAX()` aggregate functions on the `Pct_managed_drinking_water_services` column to obtain the minimum, average, and maximum percentages of managed drinking water services for each REC

Make sure to group the results by the REC using the `GROUP BY` clause to specify how the data should be grouped for the aggregate calculations.

In [22]:
# Add your code here

## Solutions

### 1. Identify regions in Africa

In [23]:
%%sql

SELECT *
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
LIMIT 5; -- Remove this line to see the full list

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+----------------------------------+-----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|              Region              |    Sub_region   | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+----------------------------------+-----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Northern Africa and Western Asia | Northern Africa |   Algeria    |     2015    |                92.00                |              85.00              |         39.543154          |        165.98       | 2381741.00 |      11.21       |
| Northern Africa and Western Asia | Northern Africa |   Algeria    |     2016    |                93.00                |              85.33              |         40.339329          |        160.03       | 2381741.00 |      10.20       |
| Northern Africa and Western Asia | Northern Africa |   Algeria    |     2017    |                93.00                |              84.67              |         41.136546          |        170.10       | 2381741.00 |      12.00       |
| Northern Africa and Western Asia | Northern Africa |   Algeria    |     2018    |                93.00                |              84.67              |         41.927007          |        174.91       | 2381741.00 |       None       |
| Northern Africa and Western Asia | Northern Africa |   Algeria    |     2019    |                93.33                |              84.67              |         42.705368          |        171.77       | 2381741.00 |       None       |
+----------------------------------+-----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+

### 2. Classify SADC countries

In [28]:
%%sql

SELECT
	CASE
		WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini',
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia',
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'
		ELSE 'Not Classified'
	END AS Regional_economic_community,
    Country_name,
    Pct_managed_drinking_water_services
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
LIMIT 5; -- Remove this line to see the entire result set

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+-----------------------------+--------------+-------------------------------------+
| Regional_economic_community | Country_name | Pct_managed_drinking_water_services |
+-----------------------------+--------------+-------------------------------------+
|        Not Classified       |   Algeria    |                92.00                |
|        Not Classified       |   Algeria    |                93.00                |
|        Not Classified       |   Algeria    |                93.00                |
|        Not Classified       |   Algeria    |                93.00                |
|        Not Classified       |   Algeria    |                93.33                |
+-----------------------------+--------------+-------------------------------------+

### 3. Classify UMA and ECOWAS countries

In [29]:
%%sql

SELECT
	CASE
		WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini',
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia',
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'

		WHEN Country_name IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia')
			THEN 'UMA'

        WHEN Country_name IN ('Benin', 'Burkina Faso', 'Cabo Verde', 'Cote d’Ivoire', 'Gambia', 'Ghana', 'Guinea',
							'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 'Sierra Leone', 'Togo')
			THEN 'ECOWAS'

		ELSE 'Not Classified'
	END AS Regional_economic_community,
	Country_name,
	Pct_managed_drinking_water_services
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
LIMIT 5; -- Remove this line to see the entire result set

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+-----------------------------+--------------+-------------------------------------+
| Regional_economic_community | Country_name | Pct_managed_drinking_water_services |
+-----------------------------+--------------+-------------------------------------+
|             UMA             |   Algeria    |                92.00                |
|             UMA             |   Algeria    |                93.00                |
|             UMA             |   Algeria    |                93.00                |
|             UMA             |   Algeria    |                93.00                |
|             UMA             |   Algeria    |                93.33                |
+-----------------------------+--------------+-------------------------------------+

### 4. Calculate the minimum, average, and maximum percentages of managed drinking water services for each REC

We need to use the same `CASE` statement as in our `SELECT` clause to group the countries by their REC. This is because when we group, every non-aggregated column in the `SELECT` clause, such as our `CASE` statement determining the REC, must also be part of the `GROUP BY` clause to ensure data are grouped correctly. Additionally, we need to remove the `Country_name` column from the list of columns that will be returned as it is not an aggregated column, and it is not part of our `GROUP BY` clause.

In [26]:
%%sql

SELECT
	CASE
		WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini',
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia',
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'

		WHEN Country_name IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia')
			THEN 'UMA'

        WHEN Country_name IN ('Benin', 'Burkina Faso', 'Cabo Verde', 'Cote d’Ivoire', 'Gambia', 'Ghana', 'Guinea',
							'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 'Sierra Leone', 'Togo')
			THEN 'ECOWAS'

		ELSE 'Not Classified'
	END AS Regional_economic_community,
	MIN(Pct_managed_drinking_water_services) as Min_pct_managed_drinking_water_services,
    AVG(Pct_managed_drinking_water_services) as Avg_pct_managed_drinking_water_services,
    MAX(Pct_managed_drinking_water_services) as Max_pct_managed_drinking_water_services
FROM united_nations.Access_to_Basic_Services
WHERE Region LIKE "%Africa%"
GROUP BY CASE
			WHEN Country_name IN ('Angola', 'Botswana', 'Comoros', 'Democratic Republic of Congo', 'Eswatini',
						 'Lesotho', 'Madagascar', 'Malawi', 'Mauritius', 'Mozambique', 'Namibia',
						 'Seychelles', 'South Africa', 'United Republic Tanzania', 'Zambia', 'Zimbabwe')
			THEN 'SADC'

			WHEN Country_name IN ('Algeria', 'Libya', 'Mauritania', 'Morocco', 'Tunisia')
			THEN 'UMA'

			WHEN Country_name IN ('Benin', 'Burkina Faso', 'Cabo Verde', 'Cote d’Ivoire', 'Gambia', 'Ghana', 'Guinea',
							'Guinea-Bissau', 'Liberia', 'Mali', 'Niger', 'Nigeria', 'Senegal', 'Sierra Leone', 'Togo')
			THEN 'ECOWAS'
		ELSE 'Not Classified'
	END;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

4 rows affected.

+-----------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+
| Regional_economic_community | Min_pct_managed_drinking_water_services | Avg_pct_managed_drinking_water_services | Max_pct_managed_drinking_water_services |
+-----------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+
|             UMA             |                  66.67                  |                88.233000                |                  100.00                 |
|        Not Classified       |                  38.33                  |                79.659755                |                  100.00                 |
|             SADC            |                  50.33                  |                75.813049                |                  100.00                 |
|            ECOWAS           |                  53.33                  |                70.789286                |                  87.33                  |
+-----------------------------+-----------------------------------------+-----------------------------------------+-----------------------------------------+

### Summary

We now have a summarised report by the regional economic community, showcasing the minimum, average, and maximum values of managed drinking water services for each.